<template>
  <v-app style="background-color: white">
    <!--    <v-navigation-drawer
          v-model="drawer"
          fixed
          app
        >
          <v-list>
            <v-list-item
              v-for="(item, i) in items"
              :key="i"
              :to="item.to"
              router
              exact
            >
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="item.title" />
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>-->
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      style="background-color: #00BFA5"
      class="d-print-none"
      v-if="!hideContent"
    >
      <!--      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />-->
      <v-img
        src="LogoMed.png"
        max-width="50"
        max-height="50"
      ></v-img>
      <v-toolbar-title class="font-weight-bold" v-text="title" style="color: white"/>
      <v-spacer></v-spacer>
      <v-menu
        v-model="menu2"
        :close-on-content-click="false"
        :nudge-width="200"
        rounded
        offset-y
        v-if="MeData.length > 0 && HopitalCardData.length > 0 && HopitalCardData.filter(item => item.status_id == '1').length > 0"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-badge
            overlap
            :content="HopitalCardData.filter(item => item.status_id == '1').length"
            color="pink"
          >
            <v-icon
              color="white lighten-1"
              large
              @click="menu2 = true"
              style="cursor:pointer"
            >
              mdi-message-alert
            </v-icon>
          </v-badge>
        </template>
        <v-card v-if="MeData.length > 0" class="font-weight-bold">
          <v-list style="max-height: 600px" class="overflow-y-auto">
            <v-list-item>
              <p style="text-align:center;color:blue">
                สถานะบัตรส่งคำร้องเข้ามาใหม่!! {{ HopitalCardData.filter(item => item.status_id == '1').length }} รายการ
              </p>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item v-for="(request, idx) in HopitalCardData.filter(item => item.status_id == '1')" :key="idx">
              <!--              <v-list-item-avatar>-->
              <!--                <img-->
              <!--                  :src="'https://medhr.medicine.psu.ac.th/ImageMED.php?pid=' + MeData[0].perid"-->
              <!--                  :alt="MeData[0].full_Name"-->
              <!--                >-->
              <!--              </v-list-item-avatar>-->

              <v-list-item-content>
                <v-list-item-title style="font-size: 16px">{{ request.full_name }}</v-list-item-title>
                <v-list-item-subtitle class="mt3">
                  <p style="color:#00BFA5">{{ request.status_name }}</p>
                  <p style="color:#00BFA5;font-size: 14px">{{ request.logTime | dateToThai2 }}</p>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item>
              <v-btn text @click="menu2 = false" to="/checkRequestData"
                     style="font-weight: bold;color: cornflowerblue;font-size: 16px"
              >ตรวจสอบคำขอทั้งหมด
              </v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <v-menu
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="200"
        rounded
        offset-y
        v-if="MeData.length > 0"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-icon
            color="white lighten-1"
            large
            @click="menu = true"
            style="cursor:pointer"
          >
            mdi-account
          </v-icon>
        </template>
        <v-card class="font-weight-bold">
          <v-list>
            <v-list-item>
              <v-list-item-avatar>
                <img
                  :src="'https://medhr.medicine.psu.ac.th/ImageMED.php?pid=' + MeData[0].perid"
                  :alt="MeData[0].full_Name"
                >
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title style="font-size: 16px">{{ MeData[0].full_Name }}</v-list-item-title>
                <v-list-item-subtitle>{{ MeData[0].dep_name }}</v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-action>
                <!--                <v-btn-->
                <!--                  :class="fav ? 'red&#45;&#45;text' : ''"-->
                <!--                  icon-->
                <!--                  @click="fav = !fav"-->
                <!--                >-->
                <!--                  <v-icon>mdi-heart</v-icon>-->
                <!--                </v-btn>-->
              </v-list-item-action>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item>
              <v-btn text @click="dialog = true" style="font-weight: bold;color: red;font-size: 16px">ออกจากระบบ</v-btn>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <v-btn text dark class="font-weight-bold" style="font-size: 16px" v-if="MeData.length == 0" @click="Login()">
        เข้าสู่ระบบ
      </v-btn>
      <!--      <template v-slot:extension>
              <v-fab-transition>
                <v-btn
                  color="pink"
                  fab
                  dark
                  large
                  absolute
                  bottom
                  right
                  @click="zoomIn"
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </v-fab-transition>
            </template>
            <v-speed-dial
              v-model="fab"
              dark
              large
              bottom
              right
              absolute
              :direction="'bottom'"
              :transition="'slide-y-reverse-transition'"
              style="margin-top:70px"
            >
              <template v-slot:activator>
                <v-btn
                  v-model="fab"
                  color="blue darken-2"
                  dark
                  fab
                >
                  <v-icon v-if="fab">
                    mdi-close
                  </v-icon>
                  <v-icon v-else>
                    mdi-account-circle
                  </v-icon>
                </v-btn>
              </template>
              <v-btn
                fab
                dark
                small
                color="green"
              >
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="indigo"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
              <v-btn
                fab
                dark
                small
                color="red"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-speed-dial>-->
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt/>
      </v-container>
    </v-main>
    <v-footer
      :absolute="!fixed"
      app
      style="background-color: #00BFA5"
      dark
      class="font-weight-bold d-print-none"
      v-if="!hideContent"
    >
      <span>จำนวนผู้เยี่ยมชม {{countPerson}} ครั้ง</span>
      <v-spacer></v-spacer>
      <span>พบปัญหาการใช้งานติดต่อ หน่วยทะเบียนเวชระเบียน งานเวชระเบียน โรงพยาบาลสงขลานครินทร์ คณะแพทยศาสตร์ ในวันเวลาราชการ โทร. 074-451051 / 074-451052</span>
    </v-footer>

    <template>
      <v-dialog v-model="dialog" persistent max-width="290">
        <v-card>
          <v-card-title class="headline">ยืนยันการทำรายการ</v-card-title>
          <v-card-text>คุณต้องการออกจากระบบใช่หรือไม่ ?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog = false">ยกเลิก</v-btn>
            <v-btn color="green darken-1" text @click="LogOut">ตกลง</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
    <v-dialog
      v-model="dialogLoading"
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          กรุณารอสักครู่ ระบบกำลังทำรายการ....
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import Const from '~/Const/Const'
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'DefaultLayout',
  data () {
    return {
      dialogLoading: false,
      fab: false,
      HopitalCardData: [],
      dialog: false,
      menu: false,
      menu2: false,
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Register',
          to: '/Register'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'ระบบทำบัตรโรงพยาบาลสงขลานครินทร์'
    }
  },
  computed: {
    ...mapGetters({
      MeData: 'getMeData',
      requestByStatus: 'getRequestBystatusData',
      logApprove: 'getLogApproveData',
      hideContent: 'getHideContent',
      countPerson: 'getCountPerson'
    })
  },
  methods: {
    ...mapActions({
      initPermiss: 'initPermiss',
      initRequestDataByStatus: 'initRequestDataByStatus',
      initLogApprove: 'initLogApprove',
      initMultiLogApprove: 'initMultiLogApprove',
      checkTokenCaptcha: 'checkTokenCaptcha',
      saveCountPerson: 'saveCountPerson',
    }),
    async init () {
      this.HopitalCardData = []
      var txtRequestId = ''
      var checkMatch = ''
      this.saveCountPerson()
      await this.initPermiss({
        token: await this.$recaptcha.execute('login')
      }).then(async resPermiss => {
        if (resPermiss) {
          this.dialogLoading = true
          await this.initRequestDataByStatus({
            token: await this.$recaptcha.execute('login')
          }).then(async res => {
            if (res) {
              this.HopitalCardData = this.requestByStatus
              if (this.requestByStatus.length > 0) {
                this.HopitalCardData.map(async (item, idx) => {
                  if (idx == this.HopitalCardData.length - 1) {
                    txtRequestId += item.request_id
                  } else {
                    txtRequestId += item.request_id + ','
                  }
                })
                await this.initMultiLogApprove({
                  id: txtRequestId,
                  token: await this.$recaptcha.execute('login')
                }).then(resLog => {
                  if (resLog) {
                    if (this.logApprove.length > 0 && this.logApprove.filter(item => parseInt(item.status_id) == 1).length > 0) {
                      this.HopitalCardData.map(hosItem => {
                        checkMatch = false
                        this.logApprove.map((logItem) => {
                          if (hosItem.request_id == logItem.request_id) {
                            this.approveRequest = true
                            checkMatch = true
                            hosItem.logTime = logItem.create_time
                          }
                        })
                        if (!checkMatch) {
                          hosItem.logTime = ''
                        }
                      })
                    }
                    this.dialogLoading = false
                  } else {
                    this.dialogLoading = false
                  }
                }).catch(resCatch => {
                  if (resCatch) {
                    this.dialogLoading = false
                  }
                })
              }
            }
            this.dialogLoading = false
          }).catch(resErr => {
            if (resErr) {
              this.dialogLoading = false
            }
          })
        }
      })
    },
    Login () {
      window.location.href = Const.medhrUrl + '/SingleSign/'
    },
    LogOut () {
      document.cookie = 'access_token=; Max-Age=0'
      window.location.href = Const.medhrUrl + '/SingleSign/'
      this.dialog = false
    },
    zoomIn () {
      document.body.style.zoom = '300%'
    }
  },
  mounted () {
    this.init()
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap');

* {
  font-family: 'Sarabun', sans-serif;
}

/*@media screen and (orientation: landscape) {
  html {
    !* Rotate the content container *!
    transform: rotate(-90deg);
    transform-origin: left top;
    !* Set content width to viewport height *!
    width: 100vh;
    !* Set content height to viewport width *!
    height: 100vw;
    overflow-x: visible;
    position: absolute;
    top: 100%;
    left: 0;
  }
}*/
</style>
