<template>
  <v-main>
    <v-card>
      <v-card-title>
        <span class="font-weight-bold">ตรวจสอบผลการลงทะเบียน / ค้นหาหมายเลข Hospital Number (HN)</span>
      </v-card-title>
      <v-card-text>
        <template v-if="step1">
          <v-list class="mt-16">
            <v-list-item-title class="d-flex justify-center">
              <span class="font-weight-bold">เลือกช่องทางการทำรายการ</span>
            </v-list-item-title>
            <v-list-item class="mt-4">
              <v-row class="d-flex justify-center">
                <v-col
                  cols="12"
                  md="8"
                  class="d-flex justify-center"
                >
                  <v-radio-group row v-model="typeReg">
                    <v-radio class="font-weight-bold" label="ระบุเลข 5 ตัวหลัง บัตรประชาชน" value="1" color="pink"></v-radio>
                    <v-radio class="font-weight-bold" label="เบอร์โทรศัพท์ที่ลงทะเบียน" value="2" color="primary"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-row class="d-flex justify-center">
                <v-col
                  cols="12"
                  md="3"
                  v-if="typeReg == '1'"
                >
                  <v-text-field
                    class="font-weight-bold"
                    outlined
                    label="เลข 5 ตัวหลัง บัตรประชาชน"
                    :error-messages="personID == '' ? 'เลข 5 ตัวหลัง บัตรประชาชน ห้ามว่าง' : ''"
                    :error="personID == ''"
                    v-model="personID"
                  >
                  </v-text-field>
                </v-col>
                <v-col
                  cols="12"
                  md="3"
                  v-else-if="typeReg == '2'"
                >
                  <v-text-field
                    class="font-weight-bold"
                    outlined
                    label="เบอร์โทรศัพท์ที่ลงทะเบียน"
                    :error-messages="OTP_reg == '' ? 'เบอร์โทรศัพท์ที่ลงทะเบียน ห้ามว่าง' : ''"
                    :error="OTP_reg == ''"
                    v-model="OTP_reg"
                  >
                  </v-text-field>
                </v-col>
<!--                <v-col
                  cols="12"
                  md="2"
                  class="d-flex justify-center"
                >
&lt;!&ndash;                  <v-btn class="darken-4 font-weight-bold pa-7" dark color="#00897B"&ndash;&gt;
&lt;!&ndash;                         @click="CheckBot"&ndash;&gt;
&lt;!&ndash;                  >&ndash;&gt;
                  <v-btn class="darken-4 font-weight-bold pa-7" dark color="#00897B"
                         @click="CheckBot"
                  >
                    ตรวจสอบผลการลงทะเบียน
                  </v-btn>
                </v-col>-->
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-row class="d-flex justify-center">
                <v-col
                  cols="12"
                  md="8"
                  class="d-flex justify-center"
                >
                  <v-radio-group row v-model="typeReg2" @change="ChooseTypeReg2">
                    <v-radio class="font-weight-bold" label="ทราบทั้งหมด" value="0" color="pink"></v-radio>
                    <v-radio class="font-weight-bold" label="ทราบเฉพาะ ปี เดือน" value="1" color="primary"></v-radio>
                    <v-radio class="font-weight-bold" label="ทราบเฉพาะ ปี" value="2" color="green"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-row class="d-flex justify-center">
                <v-col
                  cols="12"
                  md="4"
                  v-if="typeReg2 == '0'"
                >
                  <v-autocomplete
                    class="font-weight-bold"
                    outlined label="วัน"
                    :items="dateItem"
                    item-text="value"
                    item-value="value"
                    v-model="brithDate"
                    :error="brithDate == null"
                    :error-messages="brithDate == null ? 'วันที่เกิด ห้ามว่าง': ''"
                  ></v-autocomplete>
                </v-col>
                <v-col
                  cols="12"
                  md="4"
                  v-if="typeReg2 == '0' || typeReg2 == '1'"
                >
                  <v-autocomplete
                    class="font-weight-bold"
                    outlined label="เดือน"
                    :items="monthItem"
                    item-text="nameth"
                    item-value="value"
                    v-model="brithMonth"
                    :error="brithMonth == null"
                    :error-messages="brithMonth == null ? 'เดือนที่เกิด ห้ามว่าง': ''"
                  ></v-autocomplete>
                </v-col>
                <v-col
                  cols="12"
                  md="4"
                >
                  <v-autocomplete
                    class="font-weight-bold"
                    outlined label="ปี"
                    :items="yearItem"
                    item-text="yearth"
                    item-value="year"
                    v-model="brithYear"
                    :error="brithYear == null"
                    :error-messages="brithYear == null ? 'ปีที่เกิด ห้ามว่าง': ''"
                  ></v-autocomplete>
                  <!--                <v-menu
                                    v-model="showPickerBrithDay"
                                    :close-on-content-click="false"
                                    transition="scale-transition"
                                    offset-y
                                    max-width="290px"
                                    min-width="290px"
                                  >
                                    <template v-slot:activator="{ on }">
                                      <v-text-field
                                        class="font-weight-bold"
                                        outlined
                                        v-model="BrithDay"
                                        hint="ปี(ค.ศ.)/เดือน/วัน ตัวอย่าง 1988/03/11"
                                        persistent-hint
                                        label="วัน/เดือน/ปีเกิด"
                                        :error="BrithDay == '' || BrithDay == '0000-00-00'"
                                        :error-messages="BrithDay == '' ? 'กรุณากรอกวันเดือนปีเกิดที่ต้องการลงทะเบียน' : ''"
                                        v-on="on"
                                        readonly
                                      >
                                      </v-text-field>
                                    </template>
                                    <v-date-picker
                                      locale="th"
                                      v-model="BrithDay"
                                      no-title
                                      @input="showPickerBrithDay = false"
                                    ></v-date-picker>
                                  </v-menu>-->
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item class="d-flex justify-center mt-6">
              <v-btn x-large class="darken-4 font-weight-bold pa-7" dark color="#00897B"
                     @click="CheckBot"
              >
                ทำรายการ
              </v-btn>
            </v-list-item>
          </v-list>
        </template>
        <v-slide-x-reverse-transition>
          <template v-if="step2">
            <v-card class="d-print-none">
              <v-card-title>
                <span class="font-weight-bold">ยืนยันรหัส OTP</span>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-text class="mt-8">
                <v-row class="d-flex justify-center">
                  <v-col
                    cols="12"
                    md="4"
                  >
                    <v-text-field
                      class="font-weight-bold"
                      v-model="OTP"
                      outlined
                      label="ยืนยันรหัส OTP"
                      :error-messages="OTP == '' ? 'ยืนยันรหัส OTP': ''"
                      :error="OTP == ''"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <div align="center" class="mt-8 mb-16">
                  <!--              <recaptcha/>-->
                  <v-btn class="font-weight-bold mt-8 pa-10" dark color="#00897B" style="width: 100%;font-size: 20px"
                         @click="CheckOTP"
                  >ต่อไป >>
                  </v-btn>
                  <v-btn class="font-weight-bold mt-8 pa-10 darken-4" dark color="yellow"
                         style="width: 100%;font-size: 20px"
                         @click="step1 = true,step2 = false"
                  >ย้อนกลับ <<
                  </v-btn>
                </div>
              </v-card-text>
            </v-card>
          </template>
        </v-slide-x-reverse-transition>
        <v-slide-x-reverse-transition>
          <template v-if="step3">
            <v-container class="d-print-none">
              <v-data-table
                :items="HopitalCardData"
                :headers="requestHeader"
                style="width: 100%"
                class="font-weight-bold"
              >
                <template v-slot:header.full_name>
                  <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                    ชื่อ - สกุล
                  </p>
                </template>
                <template v-slot:header.person_id>
                  <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                    หมายเลขบัตรประชาชน
                  </p>
                </template>
                <template v-slot:header.status_name>
                  <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                    สถานะ
                  </p>
                </template>
                <template v-slot:header.create_time>
                  <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                    วันที่สร้างรายการ
                  </p>
                </template>
                <template v-slot:header.action>
                  <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                    ทำรายการ
                  </p>
                </template>
                <template v-slot:item.status_name="{item}">
                <span class="font-weight-bold" v-if="item.status_id == '0'" style="color: darkslategray">
                  {{ item.status_name }}
                </span>
                  <span class="font-weight-bold" v-else-if="item.status_id == '1'" style="color: cornflowerblue">
                  {{ item.status_name }}
                </span>
                  <span class="font-weight-bold" v-else-if="item.status_id == '2'" style="color: darkblue">
                  {{ item.status_name }}
                </span>
                  <span class="font-weight-bold" v-else-if="item.status_id == '3'" style="color: coral">
                  {{ item.status_name }}
                </span>
                  <span class="font-weight-bold" v-else-if="item.status_id == '4'" style="color: green">
                  {{ item.status_name }}
                </span>
                  <span class="font-weight-bold" v-else-if="item.status_id == '5'" style="color: red">
                  {{ item.status_name }}
                </span>
                </template>
                <template v-slot:item.create_time="{item}">
                <span class="font-weight-bold" style="color: black">
                  {{ item.create_time | dateToThai2 }}
                </span>
                </template>
                <template v-slot:item.action="{item}">
                  <v-btn color="primary" text class="font-weight-bold" @click="showTimeline(item)">ไทม์ไลน์</v-btn>
                  <v-btn color="primary" text class="font-weight-bold" @click="getRequest(item)"
                         v-if="item.status_id == '1'"
                  >รับคำขอ
                  </v-btn>
                  <v-btn color="purple" text class="font-weight-bold" @click="checkRequestFunc(item)"
                         v-else-if="parseInt(item.status_id) >= 2"
                  >ตรวจสอบ
                  </v-btn>
                  <v-btn color="red" text class="font-weight-bold" @click="delRequest(item)">ยกเลิก
                  </v-btn>
                  <div>
                    <v-btn color="pink" text class="font-weight-bold" @click="sendSmsApprove(item)">ส่ง sms การอนุมัติ
                    </v-btn>
                    <v-btn color="pink" text class="font-weight-bold" @click="openDialogCustomSMS(item)">ส่ง sms
                      (ข้อความ)
                    </v-btn>
                  </div>
                </template>
              </v-data-table>
            </v-container>
          </template>
        </v-slide-x-reverse-transition>
        <v-content v-if="hnDataDump.length > 0">
          <v-row class="d-flex justify-center">
            <v-col
              cols="12"
              md="8"
            >
              <v-card>
                <v-card-title>
                  <span class="font-weight-bold">ตรวจสอบพบเลขบัตร รพ.</span>
                </v-card-title>
                <v-card-text>
                  <v-list>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">หมายเลขบัตรประชาชน / หนังสือเดินทาง</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].PPHONE }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">ชื่อ - สกุล</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].PNAME }} {{ hnDataDump[0].PSUR }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">วัน เดือน พ.ศ. (เกิด)</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].BDATE.split(' ')[0] }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">หมายเลขบัตร รพ.</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].HN }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">ที่อยู่</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].PADDRESS }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">ชื่อ - สกุล บิดา</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].FNAME }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">ชื่อ - สกุล มารดา</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].MNAME }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">ชื่อผู้ติดต่อฉุกเฉิน</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].RNAME }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">โทรศัพท์ติดต่อ</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">{{ hnDataDump[0].RPHONE }}</span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                    <v-list-item>
                      <v-row>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold">สถานะภาพ</span>
                        </v-col>
                        <v-col
                          cols="12"
                          md="3"
                        >
                          <span class="font-weight-bold"></span>
                        </v-col>
                      </v-row>
                    </v-list-item>
                    <v-divider class="mt-2 mb-2"></v-divider>
                  </v-list>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-content>
        <v-content v-if="ShowNotFound">
          <v-row class="d-flex justify-center">
            <v-col
              cols="12"
              md="10"
            >
              <v-alert
                outlined
                type="error"
                prominent
                border="left"
                class="mt-4 ma-5 font-weight-bold"
                style="width: 100%"
              >
                <p class="font-weight-bold" style="color: red">ตรวจสอบไม่พบข้อมูล <span
                  style="color:darkblue;cursor: pointer" @click="goToRegister"
                >สามารถลงทะเบียนทำบัตรผู้ป่วนใหม่ (Link)</span></p>
              </v-alert>
            </v-col>
          </v-row>
        </v-content>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" class="darken-4 font-weight-bold" to="/" text>
          ย้อนกลับ <<
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog
      v-model="dialogLoading"
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          กรุณารอสักครู่ ระบบกำลังทำรายการ....
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <template>
      <v-list class="d-none d-print-inline">
        <v-list-item style="margin-top: -140px">
          <v-row class="font-weight-bold d-flex justify-center">
            <v-col
              cols="12"
              md="12"
            >
              <p class="font-weight-bold" style="font-weight: bold;font-size: 20px;color: black">
                หลักฐานการยืนยันทำบัตรผู้ป่วย รพ.ม.อ. ออนไลน์</p>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลส่วนตัว</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p class="black--text">ชื่อ-นามสกุล (ผู้ป่วย) :
                  {{ prefixNameItem.filter(item => item.name == requestObj.prefix)[0].name }}
                  {{ requestObj.full_name }}</p>
                <p class="black--text">หมายเลขบัตรประชาชน : {{ requestObj.person_id }}</p>
                <p class="black--text">วัน/เดือน/ปี เกิด : {{ requestObj.brithday | dateToThai }}</p>
                <p class="black--text">เพศ :
                  {{
                    (requestObj.gender != null && requestObj.gender != '') ? this.genderItem.filter(item => item.value == requestObj.gender).length > 0 ? this.genderItem.filter(item => item.value == requestObj.gender)[0].name : '-' : '-'
                  }}</p>
                <p class="black--text">สัญชาติ : {{ requestObj.nationality }}</p>
                <p class="black--text">อาชีพ :
                  {{
                    (requestObj.occupation != null && requestObj.occupation != '') ? this.occupItem.filter(item => item.Fcode == requestObj.occupation).length > 0 ? this.occupItem.filter(item => item.Fcode == requestObj.occupation)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">ศาสนา :
                  {{
                    (requestObj.religion != null && requestObj.religion != '') ? this.religionItem.filter(item => item.Fcode == requestObj.religion).length > 0 ? this.religionItem.filter(item => item.Fcode == requestObj.religion)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">สถานะภาพ :
                  {{
                    (requestObj.status != null && requestObj.status != '') ? this.statusItem.filter(item => item.Fcode == requestObj.status).length > 0 ? this.statusItem.filter(item => item.Fcode == requestObj.status)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">ชื่อ-นามสกุล บิดา (ผู้ป่วย) : {{ requestObj.fname }}</p>
                <p class="black--text">ชื่อ-นามสกุล มารดา (ผู้ป่วย) : {{ requestObj.mname }}</p>
                <p class="black--text">ชื่อ-นามสกุล คู่สมรส (ผู้ป่วย) : {{ requestObj.sname }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลการติดต่อ</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p class="black--text">ที่อยู่่ : บ้านเลขที่ {{ requestObj.h_number }} หมู่ที่
                  {{ (requestObj.h_village != null && requestObj.h_village != '') ? requestObj.h_village : '-' }}
                  ซอย {{ (requestObj.h_alley != null && requestObj.h_alley != '') ? requestObj.h_alley : '-' }}
                  ถนน {{ (requestObj.h_road != null && requestObj.h_road != '') ? requestObj.h_road : '-' }}
                  ตำบล/แขวง
                  {{
                    (requestObj.tambon != null && requestObj.tambon != '') ? this.tumbon.filter(item => item.CBON == requestObj.tambon).length > 0 ? this.tumbon.filter(item => item.CBON == requestObj.tambon)[0].NBON : '-' : '-'
                  }}
                  อำเภทเขต
                  {{
                    (requestObj.amphur != null && requestObj.amphur != '') ? this.amphur.filter(item => item.CPHUR == requestObj.amphur).length > 0 ? this.amphur.filter(item => item.CPHUR == requestObj.amphur)[0].NPHUR : '-' : '-'
                  }}
                  จังหวัด
                  {{
                    (requestObj.changwat != null && requestObj.changwat != '') ? this.provinces.filter(item => item.CHW == requestObj.changwat).length > 0 ? this.provinces.filter(item => item.CHW == requestObj.changwat)[0].PROVINCE : '-' : '-'
                  }}
                  รหัสไปรษณีย์
                  {{ (requestObj.zip_code != null && requestObj.zip_code != '') ? requestObj.zip_code : '-' }}
                </p>
                <p class="black--text">เบอร์โทรศัพท์ : {{ requestObj.phone }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลผู้ติดต่อกรณีฉุกเฉิน</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p class="black--text">ชื่อ-นามสกุล (ผู้ที่ติดต่อได้กรณีฉุกเฉิน) : {{ requestObj.rname }}</p>
                <p class="black--text">เกี่ยวข้องเป็น :
                  {{
                    (requestObj.rstatus != null && requestObj.rstatus != '') ? this.relevantItem.filter(item => item.Fcode == requestObj.rstatus).length > 0 ? this.relevantItem.filter(item => item.Fcode == requestObj.rstatus)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">เบอร์โทรศัพท์มือถือ : {{ requestObj.rphone }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">หลักฐานตรวจสอบข้อมูลส่วนตัว</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p>{{ requestObj.file_name }}</p>
              </template>
              <template v-if="requestObj != null && logApprove.filter(item => item.status_id == '2').length > 0">
                <!--                <p style="text-align: right">วันที่ส่งคำร้อง {{ logApprove.filter(item => item.status_id == '2')[0].create_time | dateToThai2 }} รหัสอ้างอิงคำร้อง {{requestObj.request_id}}</p>-->
                <p style="text-align: right">วันที่ส่งคำร้อง
                  {{ logApprove.filter(item => item.status_id == '2')[0].create_time | dateToThai2 }}</p>
              </template>
            </v-col>
          </v-row>
        </v-list-item>
      </v-list>
    </template>
  </v-main>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'checkhoscard',
  data () {
    return {
      provincesItem: [],
      amphurItem: [],
      tumbonItem: [],
      religionItem: [],
      occupItem: [],
      statusItem: [],
      relevantItem: [],
      HopitalCardData: [],
      requestHeader: [
        {
          text: 'ชื่อ - สกุล',
          value: 'full_name'
        },
        {
          text: 'หมายเลขบัตรประชาชน',
          value: 'person_id'
        },
        {
          text: 'สถานะ',
          value: 'status_name'
        },
        {
          text: 'วันที่สร้างรายการ',
          value: 'create_time'
        },
        {
          text: 'ทำรายการ',
          value: 'action'
        },
      ],
      typeReg: '2',
      typeReg2: '0',
      brithYear: null,
      brithMonth: null,
      brithDate: null,
      requestObj: null,
      dialogLoading: false,
      hnDataDump: [],
      ShowNotFound: false,
      personID: '',
      OTP_reg: '',
      OTP: '',
      step1: true,
      step2: false,
      step3: false,
      yearItem: [],
      dateItem: [],
      monthItem: [
        {
          value: '01',
          nameth: 'มกราคม',
          nameen: 'January'
        },
        {
          value: '02',
          nameth: 'กุมภาพันธ์',
          nameen: 'February'
        },
        {
          value: '03',
          nameth: 'มีนาคม',
          nameen: 'March'
        },
        {
          value: '04',
          nameth: 'เมษายน',
          nameen: 'April'
        },
        {
          value: '05',
          nameth: 'พฤษภาคม',
          nameen: 'May'
        },
        {
          value: '06',
          nameth: 'มิถุนายน',
          nameen: 'June'
        },
        {
          value: '07',
          nameth: 'กรกฎาคม',
          nameen: 'July'
        },
        {
          value: '08',
          nameth: 'สิงหาคม',
          nameen: 'August'
        },
        {
          value: '09',
          nameth: 'กันยายน',
          nameen: 'September'
        },
        {
          value: '10',
          nameth: 'ตุลาคม',
          nameen: 'October'
        },
        {
          value: '11',
          nameth: 'พฤศจิกายน',
          nameen: 'November'
        },
        {
          value: '12',
          nameth: 'ธันวาคม',
          nameen: 'December'
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      provinces: 'getProvinces',
      amphur: 'getAmphur',
      tumbon: 'getTumbon',
      smsResult: 'getSmsResult',
      otpData: 'getOtpData',
      hnData: 'getHnData',
      relevant: 'getRelevantData',
      religion: 'getReligionData',
      occupation: 'getOccupationData',
      status: 'getStatusData',
      ip: 'getIpData',
      request: 'getRequestData',
      requestFile: 'getFileData',
      logApprove: 'getLogApproveData',
    })
  },
  methods: {
    ...mapActions({
      initProvincesData: 'initProvincesData',
      initTumbonData: 'initTumbonData',
      initAmphurData: 'initAmphurData',
      SendSms: 'SendSms',
      sendSmsMessage: 'sendSmsMessage',
      SaveSmsData: 'SaveSmsData',
      CheckSmsData: 'CheckSmsData',
      UpdateSmsData: 'UpdateSmsData',
      CheckOtpSmsData2: 'CheckOtpSmsData2',
      CheckHnData: 'CheckHnData',
      CheckHnData2: 'CheckHnData2',
      CheckHnOrRequestData: 'CheckHnOrRequestData',
      initRelevantData: 'initRelevantData',
      initReligionData: 'initReligionData',
      initOccupData: 'initOccupData',
      checkTokenCaptcha: 'checkTokenCaptcha',
      initStatusData: 'initStatusData',
      CheckRequestData: 'CheckRequestData',
      updateRequestData: 'updateRequestData',
      uploadFile: 'uploadFile',
      initLogApprove: 'initLogApprove',
    }),
    init () {
      this.hnDataDump = []
      // this.typeReg = '1'
      // this.personID = '07176'
      // this.brithDate = 19
      // this.brithMonth = '09'
      // this.brithYear = 1988
    },
    async searchCardPatient () {
      this.ShowNotFound = false
      if (this.personID == '') {
        this.$swal.fire({
          type: 'error',
          title: 'กรุณากรอกหมายเลขบัตรประชาชน หรือ หมายเลขหนังสือเดินทาง!'
        })
      } else {
        this.dialogLoading = true
        this.hnDataDump = []
        this.CheckHnData({
          person_id: this.personID,
          token: await this.$recaptcha.execute('login')
        }).then(res => {
          if (!res) {
            this.ShowNotFound = true
          } else {
            this.hnDataDump = this.hnData
          }
          this.dialogLoading = false
        }).catch(res => {
          if (res) {
            this.dialogLoading = false
            this.$swal.fire({
              type: 'error',
              title: 'พบข้อผิดพลาด ไม่สามารถใช้บริการเซอร์วิสได้ โปรดตรวจสอบความถูกต้อง'
            })
          }
        })
      }
    },
    goToRegister () {
      this.$router.push('/register')
    },
    ChooseTypeReg2 () {
      switch (this.typeReg2) {
        case '1':
          this.brithDate = null
          break
        case '2':
          this.brithDate = null
          this.brithMonth = null
          break
      }
    },
    getBrithYear () {
      for (var i = 1800; i <= new Date().getFullYear(); i++) {
        this.yearItem.unshift({
          year: i,
          yearth: i + 543
        })
      }
    },
    getDateYear () {
      for (var i = 1; i <= 31; i++) {
        this.dateItem.push({
          value: i,
        })
      }
    },
    async CheckBot () {
      try {
        // this.personID = '1909800307176'
        // this.personID = '1234567891223'
        // this.OTP_reg = '0855826694'
        // this.brithDate = 19
        // this.brithMonth = '09'
        // this.brithYear = 1988
        // this.brithDate = 1
        // this.brithMonth = '01'
        // this.brithYear = 2022

        this.requestObj = null
        this.HopitalCardData = []
        if ((this.typeReg == '1' && this.personID == '') || (this.typeReg == '2' && this.OTP_reg == '')) {
          this.$swal.fire({
            type: 'error',
            title: 'กรุณากรอกข้อมูลให้ครบถ้วน!'
          })
        } else if (this.typeReg2 == '0' && (this.brithDate == null || this.brithMonth == null || this.brithYear == null)) {
          this.$swal.fire({
            type: 'error',
            title: 'กรุณากรอกข้อมูล วัน/เดือน/ปีเกิด ให้ครบถ้วน!'
          })
        } else if (this.typeReg2 == '1' && (this.brithMonth == null || this.brithYear == null)) {
          this.$swal.fire({
            type: 'error',
            title: 'กรุณากรอกข้อมูล เดือน/ปีเกิด ให้ครบถ้วน!'
          })
        } else if (this.typeReg2 == '2' && (this.brithYear == null)) {
          this.$swal.fire({
            type: 'error',
            title: 'กรุณากรอกข้อมูล ปีเกิด ให้ครบถ้วน!'
          })
        } else {
          this.dialogLoading = true
          switch (this.typeReg2) {
            case '0':
              this.BrithDay = this.brithYear + '-' + this.brithMonth + '-' + (parseInt(this.brithDate) < 10 ? '0' + this.brithDate : this.brithDate)
              break
            case '1':
              this.BrithDay = this.brithYear + '-' + this.brithMonth + '-01'
              break
            case '2':
              this.BrithDay = this.brithYear + '-01-01'
              break
            default:
              break
          }

          this.CheckHnOrRequestData({
            type: this.typeReg,
            person_id: this.personID,
            brithday: this.BrithDay,
            phone_number: this.OTP_reg,
            token: await this.$recaptcha.execute('login')
          }).then(async res => {
            if (res) {
              if (this.request.length > 0) {
                  this.getResultCheckHn()
                }
            } else {
              this.CheckHnData2({
                token: await this.$recaptcha.execute('login'),
                type: this.typeReg,
                person_id: this.personID,
                brithday: this.BrithDay,
                phone_number: this.OTP_reg,
              }).then(async res => {
                if (res) {
                  if (this.hnData.length > 0) {
                      var txtHn = ''
                      this.hnData.map((hmItem, idx) => {
                        txtHn += hmItem[0]
                        if (idx != this.hnData.length - 1) {
                          txtHn += ", "
                        }
                      })
                      this.$swal.fire({
                        type: 'success',
                        title: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ :  ' + this.hnData[0][1] + ' ' + this.hnData[0][2] + ' คือ : ' + txtHn +
                          ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล'
                      })
                    this.dialogLoading = false
                  } else {
                    this.dialogLoading = false
                    this.$swal.fire({
                      type: 'error',
                      title: 'ไม่พบข้อมูลคำร้องขอทำบัตร รพ. ม.อ. !!'
                    })
                  }
                } else {
                  this.dialogLoading = false
                  this.$swal.fire({
                    type: 'error',
                    title: 'ไม่พบข้อมูลคำร้องขอทำบัตร รพ. ม.อ. !!'
                  })
                }
                this.OTP = ''
                this.OTP_reg = ''
                this.personID = ''
                this.brithDate = null
                this.brithMonth = null
                this.brithYear = null
                this.typeReg2 = '0'
              })
            }
          })
        }
        // console.log('ReCaptcha token:', token)
        // send token to server alongside your form data
      } catch (error) {
        this.dialogLoading = false
        this.$swal.fire({
          type: 'error',
          title: 'ไม่พบ token หรือ รหัส token ไม่ถูกต้อง!'
        })
        // console.log('Login error:', error)
      }
    },
    async CheckOTP () {
      this.CheckOtpSmsData2({
        person_id: this.personID,
        brithday: this.BrithDay,
        otp: this.OTP,
        token: await this.$recaptcha.execute('login')
      }).then(async res => {
        if (res) {
          this.step1 = true
          this.step2 = false
          // this.step3 = true
          // this.HopitalCardData = this.request
          // this.checkpersonID()
          if (this.request.length > 0) {
            if (this.request[0].status_id == '4' || this.request[0].status_id == '5') {
              if (this.hnData.length == 0) {
                this.CheckHnData({
                  token: await this.$recaptcha.execute('login'),
                  person_id: this.personID
                }).then(async res => {
                  if (res) {
                    if (this.hnData.length > 0) {
                      this.$swal.fire({
                        type: 'success',
                        title: 'หมายเลขบัตร รพ. ม.อ. ของท่าน คือ H.N. :  ' + this.hnData[0].HN +
                          ' แนะนำ Application Mor-Or Care+'
                      })
                    } else {
                      if (this.request[0].status_id == '5') {
                        this.initLogApprove({
                          id: this.request[0].request_id,
                          token: await this.$recaptcha.execute('login')
                        }).then(async res => {
                          if (res) {
                            this.$swal.fire({
                              type: 'error',
                              html: '<p style="font-size: 1.875em;font-weight:bold;color: red">คำขอลงทะเบียนทำบัตร รพ. ม.อ.ของ คุณ : ' + this.request[0].full_name + ' ไม่สำเร็จ</p> <p style="font-weight: bold">เหตุผล : ' + ((this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '5').length > 0 ? this.logApprove[this.logApprove.length - 1].remark + '</p>' : ''))
                            })
                          }
                        })
                      } else {
                        this.$swal.fire({
                          type: 'error',
                          title: 'ไม่พบข้อมูล โปรดติดต่อผู้ดูแลระบบ'
                        })
                      }
                    }
                  } else {
                    if (this.request[0].status_id == '5') {
                      this.initLogApprove({
                        id: this.request[0].request_id,
                        token: await this.$recaptcha.execute('login')
                      }).then(async res => {
                        if (res) {
                          this.$swal.fire({
                            type: 'error',
                            html: '<p style="font-size: 1.875em;font-weight:bold;color: red">คำขอลงทะเบียนทำบัตร รพ. ม.อ.ของ คุณ : ' + this.request[0].full_name + ' ไม่สำเร็จ</p> <p style="font-weight: bold">เหตุผล : ' + ((this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '5').length > 0 ? this.logApprove[this.logApprove.length - 1].remark + '</p>' : ''))
                          })
                        }
                      })
                    } else {
                      this.$swal.fire({
                        type: 'error',
                        title: 'ไม่พบข้อมูล โปรดติดต่อผู้ดูแลระบบ'
                      })
                    }
                  }
                  this.OTP = ''
                  this.OTP_reg = ''
                  this.personID = ''
                  this.brithDate = null
                  this.brithMonth = null
                  this.brithYear = null
                  this.typeReg2 = '0'
                })
              } else {
                this.OTP = ''
                this.OTP_reg = ''
                this.personID = ''
                this.brithDate = null
                this.brithMonth = null
                this.brithYear = null
                this.typeReg2 = '0'
                this.dialogLoading = false
                this.$swal.fire({
                  type: 'success',
                  title: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ ' + this.request[0].full_name + ' คือ :  ' + this.hnData[0].HN +
                    ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล'
                })
              }
            }
              // else if (this.request[0].status_id == '5') {
              //   this.initLogApprove({
              //     id: this.request[0].request_id
              //   }).then(async res => {
              //     if (res) {
              //       this.$swal.fire({
              //         type: 'error',
              //         html: '<p style="font-size: 1.875em;font-weight:bold;color: red">คำขอลงทะเบียนทำบัตร รพ. ม.อ.ของ คุณ : ' + this.request[0].full_name + ' ไม่สำเร็จ</p> <p>เหตุผล : ' + ((this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '5').length > 0 ? this.logApprove[this.logApprove.length - 1].remark + '</p>' : ''))
              //       })
              //     }
              //   })
            // }
            else if (parseInt(this.request[0].status_id) >= 1) {
              this.$swal.fire({
                type: 'warning',
                title: 'คำร้องขอทำบัตรของ คุณ : ' + this.request[0].full_name + ' ขณะนี้ กำลังเข้าสู่ขั้นตอนดำเนินการในสถานะ ' + this.request[0].status_name
              })
            } else {
              this.$swal.fire({
                type: 'warning',
                title: 'คำร้องขอทำบัตรของ คุณ : ' + this.request[0].full_name + ' ขณะนี้ อยู่ในสถานะ ' + this.request[0].status_name
              })
            }
          } else {
            if (this.hnData.length == 0) {
              this.CheckHnData({
                token: await this.$recaptcha.execute('login'),
                person_id: this.personID
              }).then(async res => {
                if (res) {
                  if (this.hnData.length > 0) {
                    this.$swal.fire({
                      type: 'success',
                      title: 'หมายเลขบัตร รพ. ม.อ. ของท่าน คือ H.N. :  ' + this.hnData[0].HN +
                        ' แนะนำ Application Mor-Or Care+'
                    })
                  } else {
                    this.$swal.fire({
                      type: 'error',
                      title: 'ไม่พบข้อมูลคำร้องขอทำบัตร รพ. ม.อ. !!'
                    })
                  }
                } else {
                  this.$swal.fire({
                    type: 'error',
                    title: 'ไม่พบข้อมูลคำร้องขอทำบัตร รพ. ม.อ. !!'
                  })
                }
                this.OTP = ''
                this.OTP_reg = ''
                this.personID = ''
                this.brithDate = null
                this.brithMonth = null
                this.brithYear = null
                this.typeReg2 = '0'
              })
            } else {
              this.OTP = ''
              this.OTP_reg = ''
              this.personID = ''
              this.brithDate = null
              this.brithMonth = null
              this.brithYear = null
              this.typeReg2 = '0'
              this.dialogLoading = false
              this.$swal.fire({
                type: 'success',
                title: 'หมายเลขบัตร รพ. ม.อ. ของท่าน คือ H.N. :  ' + this.hnData[0].HN +
                  ' แนะนำ Application Mor-Or Care+'
              })
            }
          }
          this.OTP = ''
          this.OTP_reg = ''
          this.personID = ''
          this.brithDate = null
          this.brithMonth = null
          this.brithYear = null
          this.typeReg2 = '0'
        } else {
          this.$swal.fire({
            type: 'error',
            title: 'รหัส OTP ไม่ถูกต้อง!'
          })
        }
      })
    },
    async getResultCheckHn () {
      if (this.request.length > 0) {
        if (this.request[0].status_id == '4' || this.request[0].status_id == '5') {
          if (this.hnData.length == 0) {
            this.CheckHnData2({
              token: await this.$recaptcha.execute('login'),
              type: this.typeReg,
              person_id: this.personID,
              brithday: this.BrithDay,
              phone_number: this.OTP_reg,
            }).then(async res => {
              if (res) {
                if (this.hnData.length > 0) {
                  var txtHn = ''
                  this.hnData.map((hmItem, idx) => {
                    txtHn += hmItem[0]
                    if (idx != this.hnData.length - 1) {
                      txtHn += ", "
                    }
                  })
                  this.$swal.fire({
                    type: 'success',
                    title: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ :  ' + this.hnData[0][1] + ' ' + this.hnData[0][2] + ' คือ : ' + txtHn +
                      ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล'
                  })
                  this.dialogLoading = false
                } else {
                  if (this.request[0].status_id == '5') {
                    this.initLogApprove({
                      id: this.request[0].request_id,
                      token: await this.$recaptcha.execute('login')
                    }).then(async res => {
                      if (res) {
                        this.$swal.fire({
                          type: 'error',
                          html: '<p style="font-size: 1.875em;font-weight:bold;color: red">คำขอลงทะเบียนทำบัตร รพ. ม.อ.ของ คุณ : ' + this.request[0].full_name + ' ไม่สำเร็จ</p> <p style="font-weight: bold">เหตุผล : ' + ((this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '5').length > 0 ? this.logApprove[this.logApprove.length - 1].remark + '</p>' : ''))
                        })
                      }
                    })
                  } else {
                    this.$swal.fire({
                      type: 'error',
                      title: 'ไม่พบข้อมูล โปรดติดต่อผู้ดูแลระบบ'
                    })
                  }
                }
              } else {
                if (this.request[0].status_id == '5') {
                  this.initLogApprove({
                    id: this.request[0].request_id,
                    token: await this.$recaptcha.execute('login')
                  }).then(async res => {
                    if (res) {
                      this.$swal.fire({
                        type: 'error',
                        html: '<p style="font-size: 1.875em;font-weight:bold;color: red">คำขอลงทะเบียนทำบัตร รพ. ม.อ.ของ คุณ : ' + this.request[0].full_name + ' ไม่สำเร็จ</p> <p style="font-weight: bold">เหตุผล : ' + ((this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '5').length > 0 ? this.logApprove[this.logApprove.length - 1].remark + '</p>' : ''))
                      })
                    }
                  })
                } else {
                  this.$swal.fire({
                    type: 'error',
                    title: 'ไม่พบข้อมูล โปรดติดต่อผู้ดูแลระบบ'
                  })
                }
              }
              this.OTP = ''
              this.OTP_reg = ''
              this.personID = ''
              this.brithDate = null
              this.brithMonth = null
              this.brithYear = null
              this.typeReg2 = '0'
            })
          } else {
            this.OTP = ''
            this.OTP_reg = ''
            this.personID = ''
            this.brithDate = null
            this.brithMonth = null
            this.brithYear = null
            this.typeReg2 = '0'
            this.dialogLoading = false
            this.$swal.fire({
              type: 'success',
              title: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ ' + this.request[0].full_name + ' คือ :  ' + (this.hnData[0].HN != null ? this.hnData[0].HN : "-") +
                ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล'
            })
          }
        } else if (parseInt(this.request[0].status_id) >= 1) {
          this.$swal.fire({
            type: 'warning',
            title: 'คำร้องขอทำบัตรของ คุณ : ' + this.request[0].full_name + ' ขณะนี้ กำลังเข้าสู่ขั้นตอนดำเนินการในสถานะ ' + this.request[0].status_name
          })
        } else {
          this.$swal.fire({
            type: 'warning',
            title: 'คำร้องขอทำบัตรของ คุณ : ' + this.request[0].full_name + ' ขณะนี้ อยู่ในสถานะ ' + this.request[0].status_name
          })
        }
      } else {
        if (this.hnData.length == 0) {
          this.CheckHnData2({
            token: await this.$recaptcha.execute('login'),
            type: this.typeReg,
            person_id: this.personID,
            brithday: this.BrithDay,
            phone_number: this.OTP_reg,
          }).then(async res => {
            if (res) {
              if (this.hnData.length > 0) {
                var txtHn = ''
                this.hnData.map((hmItem, idx) => {
                  txtHn += hmItem[0]
                  if (idx != this.hnData.length - 1) {
                    txtHn += ", "
                  }
                })
                this.$swal.fire({
                  type: 'success',
                  title: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ :  ' + this.hnData[0][1] + ' ' + this.hnData[0][2] + ' คือ : ' + txtHn +
                    ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล'
                })
                this.dialogLoading = false
              } else {
                this.$swal.fire({
                  type: 'error',
                  title: 'ไม่พบข้อมูลคำร้องขอทำบัตร รพ. ม.อ. !!'
                })
              }
            } else {
              this.$swal.fire({
                type: 'error',
                title: 'ไม่พบข้อมูลคำร้องขอทำบัตร รพ. ม.อ. !!'
              })
            }
            this.OTP = ''
            this.OTP_reg = ''
            this.personID = ''
            this.brithDate = null
            this.brithMonth = null
            this.brithYear = null
            this.typeReg2 = '0'
          })
        } else {
          this.OTP = ''
          this.OTP_reg = ''
          this.personID = ''
          this.brithDate = null
          this.brithMonth = null
          this.brithYear = null
          this.typeReg2 = '0'
          this.dialogLoading = false
          if (this.hnData.length > 0) {
            var txtHn = ''
            this.hnData.map((hmItem, idx) => {
              txtHn += hmItem[0]
              if (idx != this.hnData.length - 1) {
                txtHn += ", "
              }
            })
            this.$swal.fire({
              type: 'success',
              title: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ :  ' + this.hnData[0][1] + ' ' + this.hnData[0][2] + ' คือ : ' + txtHn +
                ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล'
            })
            this.dialogLoading = false
          }
        }
      }
      this.OTP = ''
      this.OTP_reg = ''
      this.personID = ''
      this.brithDate = null
      this.brithMonth = null
      this.brithYear = null
      this.typeReg2 = '0'
    },
    async getRequestData () {
      this.requestObj = null
      this.token = await this.$recaptcha.execute('login')
      await this.CheckRequestData({
        person_id: this.personID,
        token: await this.$recaptcha.execute('login')
      }).then(async res => {
        if (res) {
          this.requestObj = this.request.length > 0 ? this.request[0] : null
          await this.initLogApprove({
            id: this.requestObj.request_id,
            token: await this.$recaptcha.execute('login')
          })
        }
      })
    }
  },
  async mounted () {
    this.getBrithYear()
    this.getDateYear()
    await this.initProvincesData()
    await this.initTumbonData()
    await this.initAmphurData()
    this.initRelevantData().then(res => {
      if (res) {
        this.relevantItem = this.relevant
      }
    })
    this.initReligionData().then(res => {
      if (res) {
        this.religionItem = this.religion
      }
    })
    this.initOccupData().then(res => {
      if (res) {
        this.occupItem = this.occupation
      }
    })
    this.initStatusData().then(res => {
      if (res) {
        this.statusItem = this.status
      }
    })
    this.init()
  }
}
</script>

<style scoped>

</style>
