<template>
  <v-main>
    <v-card style="width: 100%">
      <v-card-title class="font-weight-bold">
        ตรวจสอบคำขอทำบัตร
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-list>
          <v-list-item>
            <v-radio-group v-model="filterStatus" row class="font-weight-bold" @change="filterStatusFunc">
              <v-radio value="a" label="ทั้งหมด"></v-radio>
              <v-radio v-for="statusms in statusRequest" :key="statusms.id" :value="statusms.id" :label="statusms.detail" v-if="checkStatusCordi(statusms)"></v-radio>
<!--              <v-radio value="0" label="รอเสนอคำร้องทำบัตร รพ." v-if="MeData.length > 0 && MeData[0].perid == '46792'"></v-radio>
              <v-radio value="1" label="ส่งคำร้องขอทำบัตร รพ."></v-radio>
&lt;!&ndash;              <v-radio value="2" label="รับคำร้องขอทำบัตร รพ."></v-radio>&ndash;&gt;
              <v-radio value="3" label="ตรวจสอบคำร้องขอทำบัตร รพ."></v-radio>
              <v-radio value="4" label="อนุมัติคำร้องขอทำบัตร รพ."></v-radio>
              <v-radio value="5" label="ไม่อนุมัติคำร้องขอทำบัตร รพ."></v-radio>-->
            </v-radio-group>
          </v-list-item>
          <v-list-item>
            <v-spacer></v-spacer>
            <v-text-field label="ค้นหา" v-model="search"></v-text-field>
          </v-list-item>
          <v-list-item>
            <v-data-table
              :search="search"
              :items="HopitalCardData"
              :headers="requestHeader"
              style="width: 100%"
              class="font-weight-bold"
            >
              <template v-slot:header.full_name>
                <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                  ชื่อ - สกุล
                </p>
              </template>
              <template v-slot:header.person_id>
                <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                  หมายเลขบัตรประชาชน
                </p>
              </template>
              <template v-slot:header.status_name>
                <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                  สถานะ
                </p>
              </template>
              <template v-slot:header.create_time>
                <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                  วันที่สร้างรายการ
                </p>
              </template>
              <template v-slot:header.action>
                <p class="font-weight-bold" style="font-size: 16px;font-weight: bold;color: black;">
                  ทำรายการ
                </p>
              </template>
              <template v-slot:item.status_name="{item}">
                <span class="font-weight-bold" v-if="item.status_id == '0'" style="color: darkslategray">
                  {{ item.status_name }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '1'" style="color: cornflowerblue">
                  {{ item.status_name }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '2'" style="color: darkblue">
                  {{ item.status_name }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '3'" style="color: coral">
                  {{ item.status_name }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '4'" style="color: green">
                  {{ item.status_name }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '5'" style="color: red">
                  {{ item.status_name }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '6'" style="color: darkgoldenrod">
                  {{ item.status_name }}
                </span>
                <v-btn text class="font-weight-bold" @click="OpenHisApprove(item)" color="primary" style="font-size: 12px">ประวัติการอนุมัติ</v-btn>
              </template>
              <template v-slot:item.create_time="{item}">
                <span class="font-weight-bold" style="color: black">
                  {{ item.create_time | dateToThai2 }}
                </span>
              </template>
              <template v-slot:item.action="{item}">
                <v-btn color="primary" text class="font-weight-bold" @click="showTimeline(item)">ไทม์ไลน์</v-btn>
<!--                <v-btn color="primary" text class="font-weight-bold" @click="getRequest(item)"
                       v-if="item.status_id == '1'"
                >รับคำขอ
                </v-btn>
                <v-btn color="purple" text class="font-weight-bold" @click="checkRequestFunc(item)"
                       v-else-if="parseInt(item.status_id) >= 2"
                >ตรวจสอบ
                </v-btn>-->
                <v-btn color="purple" text class="font-weight-bold" @click="checkRequestFunc(item)"
                       v-if="parseInt(item.status_id) >= 1"
                >ตรวจสอบ
                </v-btn>
                <v-btn color="red" text class="font-weight-bold" @click="delRequest(item)">ยกเลิก
                </v-btn>
                <div>
                  <v-btn color="pink" text class="font-weight-bold" @click="sendSmsApprove(item)">ส่ง sms การอนุมัติ
                  </v-btn>
                  <v-btn color="pink" text class="font-weight-bold" @click="openDialogCustomSMS(item)">ส่ง sms (ข้อความ)
                  </v-btn>
                </div>
              </template>
            </v-data-table>
          </v-list-item>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-btn class="font-weight-bold mt-8 pa-5 darken-4" dark color="primary" text
               to="/"
        >ย้อนกลับ <<
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>

    <v-dialog
      v-model="dialogTimeLine"
      persistent
      width="900"
    >
      <v-card>
        <v-card-title>
          <p class="font-weight-bold">TimeLine</p>
        </v-card-title>
        <v-card-text>
          <v-row class="font-weight-bold d-flex justify-center">
            <v-col
              cols="12"
              md="3"
            >
              <p class="font-weight-bold">ลงทะเบียนทำบัตร</p>
              <v-divider></v-divider>
              <v-checkbox class="font-weight-bold" label="ข้อมูลส่วนตัว" v-model="profilePatient" readonly></v-checkbox>
              <v-checkbox class="font-weight-bold" label="ข้อมูลการติดต่อ" v-model="contactPatient" readonly
              ></v-checkbox>
              <v-checkbox class="font-weight-bold" label="ข้อมูลติดต่อกรณีฉุกเฉิน" v-model="emerPatient" readonly
              ></v-checkbox>
              <v-checkbox class="font-weight-bold" label="หลักฐานตรวจสอบข้อมูลส่วนตัว" v-model="evidencePatient"
                          readonly
              ></v-checkbox>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col
              cols="12"
              md="3"
            >
              <p class="font-weight-bold">ส่งคำขอสำเร็จ</p>
              <v-divider></v-divider>
              <v-checkbox class="font-weight-bold" label="ส่งคำขอ" v-model="cardRequest" readonly></v-checkbox>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => item.status_id == '1').length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => item.status_id == '1')[logApprove.filter(item => item.status_id == '1').length - 1].create_time | dateToThai2 }}</p>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col
              cols="12"
              md="3"
            >
              <p class="font-weight-bold">เจ้าหน้าที่ดำเนินการ</p>
              <v-divider></v-divider>
<!--              <v-checkbox class="font-weight-bold" label="รับคำขอ" v-model="sumbitRequest" readonly></v-checkbox>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => item.status_id == '2').length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => item.status_id == '2')[logApprove.filter(item => item.status_id == '2').length - 1].create_time | dateToThai2 }}</p>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => item.status_id == '2').length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => item.status_id == '2')[logApprove.filter(item => item.status_id == '2').length - 1].full_Name }}
                ({{ logApprove.filter(item => item.status_id == '2')[logApprove.filter(item => item.status_id == '2').length - 1].perid }})</p>-->
              <v-checkbox class="font-weight-bold" label="ตรวจสอบคำขอ" v-model="checkRequest" readonly></v-checkbox>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => item.status_id == '3').length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => item.status_id == '3')[logApprove.filter(item => item.status_id == '3').length - 1].create_time | dateToThai2 }}</p>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => item.status_id == '3').length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => item.status_id == '3')[logApprove.filter(item => item.status_id == '3').length - 1].full_Name }}
                ({{ logApprove.filter(item => item.status_id == '3')[logApprove.filter(item => item.status_id == '3').length - 1].perid }})</p>
              <v-checkbox class="font-weight-bold" label="แจ้งผลลงทะเบียน" v-model="approveRequest" readonly></v-checkbox>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => parseInt(item.status_id) > 3).length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => parseInt(item.status_id) > 3)[logApprove.filter(item => parseInt(item.status_id) > 3).length - 1].create_time | dateToThai2 }}</p>
              <p v-if="logApprove.length > 0 && logApprove.filter(item => parseInt(item.status_id) > 3).length > 0"
                 style="color: brown"
              >
                {{ logApprove.filter(item => parseInt(item.status_id) > 3)[logApprove.filter(item => parseInt(item.status_id) > 3).length - 1].full_Name }}
                ({{ logApprove.filter(item => parseInt(item.status_id) > 3)[logApprove.filter(item => parseInt(item.status_id) > 3).length - 1].perid }})</p>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" @click="dialogTimeLine = false" dark>ปิด</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogCheckRequest"
      persistent
      width="1200"
    >
      <v-card>
        <v-card-title>
          <p class="font-weight-bold">ข้อมูลผู้ป่วย</p>
        </v-card-title>
        <v-card-text>
          <v-row class="font-weight-bold d-flex justify-center">
            <v-col
              cols="12"
              md="6"
            >
              <p class="font-weight-bold" style="font-weight: bold;font-size: 20px;color: black">(ผู้ป่วยกรอกข้อมูล)</p>
              <v-btn text color="green" class="font-weight-bold" @click="updateDataFormGoverment">ใช้ข้อมูลทะเบียนราษฎร์
                !!!
              </v-btn>
              <v-divider></v-divider>
              <p style="color: blue">ประวัติเคยใช้บริการที่ รพ.ม.อ.</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p class="black--text">{{
                    requestObj.use_service == '1' ? 'เคยเกิดที่นี่' : requestObj.use_service == '2' ? 'เคยรักษาที่นี่' : 'ไม่เคยใช้บริการ'
                  }}</p>
              </template>
              <v-divider></v-divider>
              <template v-if="requestObj != null && requestObj.use_service == '2'">
                <p style="color: blue">เคยมีประวัติเปลื่ยน ชื่อ - สกุล ?</p>
                <v-divider></v-divider>
                <p class="black--text">{{
                    requestObj.is_change_name == '0' ? 'ไม่มีประวัติเปลื่ยน ชื่อ - สกุล' : requestObj.is_change_name == '1' ? 'มีประวัติการเปลื่ยน ชื่อ - สกุล (ชื่อเดิม) =>  ' + requestObj.old_name : ''
                  }}</p>
                <v-divider></v-divider>
              </template>
              <p style="color: blue">ข้อมูลส่วนตัว</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p style="color: peru" v-if="hnData.length > 0">หมายเลข HN : {{ hnData[0].HN }}</p>
                <p class="black--text">ชื่อ-นามสกุล (ผู้ป่วย) :
                  {{
                    prefixNameItem.filter(item => item.name == requestObj.prefix).length > 0 ? prefixNameItem.filter(item => item.name == requestObj.prefix)[0].name : ''
                  }}
                  {{ requestObj.full_name }}</p>
                <p class="black--text">หมายเลขบัตรประชาชน : {{ requestObj.person_id }}</p>
                <p class="black--text">วัน/เดือน/ปี เกิด : {{ requestObj.brithday | dateToThai }}</p>
                <p class="black--text">เพศ :
                  {{
                    (requestObj.gender != null && requestObj.gender != '') ? this.genderItem.filter(item => item.value == requestObj.gender).length > 0 ? this.genderItem.filter(item => item.value == requestObj.gender)[0].name : '-' : '-'
                  }}</p>
                <p class="black--text">สัญชาติ : {{ requestObj.nationality }}</p>
                <p class="black--text">อาชีพ :
                  {{
                    (requestObj.occupation != null && requestObj.occupation != '') ? this.occupItem.filter(item => item.Fcode == requestObj.occupation).length > 0 ? this.occupItem.filter(item => item.Fcode == requestObj.occupation)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">ศาสนา :
                  {{
                    (requestObj.religion != null && requestObj.religion != '') ? this.religionItem.filter(item => item.Fcode == requestObj.religion).length > 0 ? this.religionItem.filter(item => item.Fcode == requestObj.religion)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">สถานะภาพ :
                  {{
                    (requestObj.status != null && requestObj.status != '') ? this.statusItem.filter(item => item.Fcode == requestObj.status).length > 0 ? this.statusItem.filter(item => item.Fcode == requestObj.status)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">ชื่อ-นามสกุล บิดา (ผู้ป่วย) : {{ requestObj.fname }} {{ requestObj.f_sname }}</p>
                <p class="black--text">ชื่อ-นามสกุล มารดา (ผู้ป่วย) : {{ requestObj.mname }} {{ requestObj.m_sname }}</p>
                <p class="black--text">ชื่อ-นามสกุล คู่สมรส (ผู้ป่วย) : {{ requestObj.sname }} {{ requestObj.s_sname }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลการติดต่อ</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p class="black--text">ที่อยู่่ : บ้านเลขที่ {{ requestObj.h_number }} หมู่ที่
                  {{ (requestObj.h_village != null && requestObj.h_village != '') ? requestObj.h_village : '-' }}
                  ซอย {{ (requestObj.h_alley != null && requestObj.h_alley != '') ? requestObj.h_alley : '-' }}
                  ถนน {{ (requestObj.h_road != null && requestObj.h_road != '') ? requestObj.h_road : '-' }}
                  ตำบล/แขวง
                  {{
                    (requestObj.tambon != null && requestObj.tambon != '') ? tumbon.filter(item => item.CBON == requestObj.tambon && item.CWATPHUR == requestObj.changwat + requestObj.amphur).length > 0 ? tumbon.filter(item => item.CBON == requestObj.tambon && item.CWATPHUR == requestObj.changwat + requestObj.amphur)[0].NBON : '-' : '-'
                  }}
                  อำเภทเขต
                  {{
                    (requestObj.amphur != null && requestObj.amphur != '') ? amphur.filter(item => item.CPHUR == requestObj.amphur && item.CWAT == requestObj.changwat).length > 0 ? amphur.filter(item => item.CPHUR == requestObj.amphur && item.CWAT == requestObj.changwat)[0].NPHUR : '-' : '-'
                  }}
                  จังหวัด
                  {{
                    (requestObj.changwat != null && requestObj.changwat != '') ? provinces.filter(item => item.CHW == requestObj.changwat).length > 0 ? provinces.filter(item => item.CHW == requestObj.changwat)[0].PROVINCE : '-' : '-'
                  }}
                  รหัสไปรษณีย์
                  {{ (requestObj.zip_code != null && requestObj.zip_code != '') ? requestObj.zip_code : '-' }}
                </p>
                <p class="black--text">เบอร์โทรศัพท์มือถือ #1 : {{ requestObj.phone }}</p>
                <p class="black--text">เบอร์โทรศัพท์มือถือ #2 : {{ requestObj.phone2 }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลผู้ติดต่อกรณีฉุกเฉิน</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <p class="black--text">ชื่อ-นามสกุล (ผู้ที่ติดต่อได้กรณีฉุกเฉิน) : {{ requestObj.rname }} {{ requestObj.r_sname }}</p>
                <p class="black--text">ที่อยู่่ : บ้านเลขที่ {{ requestObj.rh_number }} หมู่ที่
                  {{ (requestObj.rh_village != null && requestObj.rh_village != '') ? requestObj.rh_village : '-' }}
                  ซอย {{ (requestObj.rh_alley != null && requestObj.rh_alley != '') ? requestObj.rh_alley : '-' }}
                  ถนน {{ (requestObj.rh_road != null && requestObj.rh_road != '') ? requestObj.rh_road : '-' }}
                  ตำบล/แขวง
                  {{
                    (requestObj.rtambon != null && requestObj.rtambon != '') ? tumbon.filter(item => item.CBON == requestObj.rtambon && item.CWATPHUR == requestObj.rchangwat + requestObj.ramphur).length > 0 ? tumbon.filter(item => item.CBON == requestObj.rtambon && item.CWATPHUR == requestObj.rchangwat + requestObj.ramphur)[0].NBON : '-' : '-'
                  }}
                  อำเภทเขต
                  {{
                    (requestObj.ramphur != null && requestObj.ramphur != '') ? amphur.filter(item => item.CPHUR == requestObj.ramphur && item.CWAT == requestObj.rchangwat).length > 0 ? amphur.filter(item => item.CPHUR == requestObj.ramphur && item.CWAT == requestObj.rchangwat)[0].NPHUR : '-' : '-'
                  }}
                  จังหวัด
                  {{
                    (requestObj.rchangwat != null && requestObj.rchangwat != '') ? provinces.filter(item => item.CHW == requestObj.rchangwat).length > 0 ? provinces.filter(item => item.CHW == requestObj.rchangwat)[0].PROVINCE : '-' : '-'
                  }}
                  รหัสไปรษณีย์
                  {{ (requestObj.rzip_code != null && requestObj.rzip_code != '') ? requestObj.rzip_code : '-' }}
                </p>
                <p class="black--text">เกี่ยวข้องเป็น :
                  {{
                    (requestObj.rstatus != null && requestObj.rstatus != '') ? this.relevantItem.filter(item => item.Fcode == requestObj.rstatus).length > 0 ? this.relevantItem.filter(item => item.Fcode == requestObj.rstatus)[0].Fname : '-' : '-'
                  }}</p>
                <p class="black--text">เบอร์โทรศัพท์ : {{ requestObj.rphone }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">หลักฐานตรวจสอบข้อมูลส่วนตัว</p>
              <v-divider></v-divider>
              <template v-if="requestObj != null">
                <v-btn text color="primary" class="darken-4" @click="ShowData(fileServerSrc + requestObj.file_path)">
                  {{ requestObj.file_name }}
                </v-btn>
              </template>
            </v-col>
            <v-divider vertical></v-divider>
            <v-col
              cols="12"
              md="6"
            >
              <p class="font-weight-bold" style="font-weight: bold;font-size: 20px;color: black">(ทะเบียนราษฎร์)</p>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลส่วนตัว</p>
              <template v-if="egovData_Personal != null">
                <p class="black--text">ชื่อ-นามสกุล : {{ egovData_Personal.titleName }} {{
                    egovData_Personal.firstName
                  }} {{ egovData_Personal.lastName }}</p>
                <p class="black--text">วัน/เดือน/ปีเกิด : {{ egovData_Personal.dateOfBirth | dateEgovToThai }}</p>
                <p class="black--text">เพศ : {{ egovData_Personal.genderDesc }}</p>
                <p class="black--text">สัญชาติ : {{ egovData_Personal.nationalityDesc }}</p>
              </template>
              <template v-if="egovData_Father != null">
                <p class="black--text">ชื่อ-นามสกุล บิดา : {{ egovData_Father.titleName }} {{
                    egovData_Father.firstName
                  }} {{ egovData_Father.lastName }}</p>
              </template>
              <template v-if="egovData_Mother != null">
                <p class="black--text">ชื่อ-นามสกุล มารดา : {{ egovData_Mother.titleName }} {{
                    egovData_Mother.firstName
                  }} {{ egovData_Mother.lastName }}</p>
              </template>
              <v-divider></v-divider>
              <p style="color: blue">ข้อมูลการติดต่อ</p>
              <v-divider></v-divider>
              <template v-if="egovData_Address != null">
                <p class="black--text">ที่อยู่่ : บ้านเลขที่ {{ egovData_Address.houseNo }}
                  {{ egovData_Address.alleyDesc }} ตำบล {{ egovData_Address.subdistrictDesc }}
                  อำเภอ {{ egovData_Address.districtDesc }} จังหวัด {{ egovData_Address.provinceDesc }}
                </p>
              </template>
              <v-list v-if="requestObj != null">
                <v-list-item class="center-screen">
                  <img :src="fileServerSrc + requestObj.file_path"
                       @click="ShowData(fileServerSrc + requestObj.file_path)"
                       :style="{maxWidth:`${sliderWidth}%`,maxHeight:'100%',cursor: 'pointer',transform: `rotate(${deg}deg)`}"
                       class="transition"
                  />
                </v-list-item>
                <v-list-item class="justify-center mt-10">
                  <div class="text-caption">
                    <span>กำหนดความกว้าง</span>
                  </div>
                  <v-slider
                    v-model="sliderWidth"
                    thumb-label="always"
                    min="20"
                    max="200"
                  ></v-slider>
                </v-list-item>
                <v-list-item class="justify-center">
                  <v-btn text color="green" @click="imgSwitch('left')">หมุนซ้าย</v-btn>
                  <v-btn text color="primary" @click="imgSwitch('right')">หมุนขวา</v-btn>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" @click="dialogApprove = true" dark>บันทึกผลการอนุมัติ</v-btn>
          <v-btn color="primary" @click="sendSmsApprove(requestObj)" dark>ส่ง SMS การอนุมัติ</v-btn>
          <v-btn color="primary" @click="openDialogCustomSMS(requestObj)" dark>ส่ง SMS (ข้อความ)</v-btn>
          <v-btn color="red" @click="dialogCheckRequest = false" dark>ปิด</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogApprove"
      width="500"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-title>
          <p class="font-weight-bold ">พิจารณาผลการลงทะเบียนทำบัตรผู้ป่วยใหม่</p>
        </v-card-title>
        <v-card-text>
          <v-row class="d-flex justify-center">
            <v-col
              class="d-flex justify-center"
              cols="12"
              md="4"
            >
              <v-btn color="green" @click="approveRequestFunc(true)" :disabled="disableBtn">อนุมัติ</v-btn>
            </v-col>
            <v-col
              cols="12"
              md="4"
            >
              <v-btn color="red" @click="openDialogReason('5')">ไม่อนุมัติ</v-btn>
            </v-col>
            <v-col
              cols="12"
              md="4"
            >
              <v-btn class="text--black" color="yellow" style="color: black" @click="openDialogReason('6')">แก้ไข</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogApproveLog"
      persistent
      width="1200"
    >
      <v-card>
        <v-card-title>
          <span class="font-weight-bold">ประวัติการอนุมัติ</span>
        </v-card-title>
        <v-card-text>
          <template>
            <v-data-table
              class="mt-6 mb-6"
              :items="logApprove"
              :headers="logApproveHeader"
              style="width: 100%"
            >
              <template v-slot:item.detail="{item}">
                <span class="font-weight-bold" v-if="item.status_id == '0'" style="color: darkslategray">
                  {{ item.detail }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '1'" style="color: cornflowerblue">
                  {{ item.detail }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '2'" style="color: darkblue">
                  {{ item.detail }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '3'" style="color: coral">
                  {{ item.detail }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '4'" style="color: green">
                  {{ item.detail }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '5'" style="color: red">
                  {{ item.detail }}
                </span>
                <span class="font-weight-bold" v-else-if="item.status_id == '6'" style="color: darkgoldenrod">
                  {{ item.detail }}
                </span>
                <p style="font-size: 12px;font-weight: bold;color: darkslategrey">เวลาทำรายการ: {{item.create_time | dateToThai2}}</p>
                <p style="font-size: 12px;font-weight: bold;color: darkmagenta" v-if="item.status_id != 4">เหตุผล: {{item.remark}}</p>
              </template>
            </v-data-table>
          </template>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" @click="dialogApproveLog = false" dark>ปิด</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogCustomSms"
      persistent
      width="800"
    >
      <v-card>
        <v-card-title>
          <span class="font-weight-bold">กล่องข้อความ!</span>
        </v-card-title>
        <v-card-text>
          <v-select class="font-weight-bold"
                    outlined
                    v-model="smsPhone"
                    label="เบอร์โทรศัพท์ที่ต้องการส่ง"
                    :error="smsPhone == ''"
                    :error-messages="smsPhone == '' ? 'ข้อความ sms ห้ามว่าง' : ''"
                    :items="phoneSmsSender"
                    item-text="text"
                    item-value="value"
          ></v-select>
          <v-text-field class="font-weight-bold" outlined v-model="customMessage" label="ระบุข้อความ sms ที่ต้องการส่ง!"
                        :error="customMessage == ''" :error-messages="customMessage == '' ? 'ข้อความ sms ห้ามว่าง' : ''"
          ></v-text-field>
          <template
            v-if="SmsLog.length > 0"
          >
            <v-divider></v-divider>
            <p class="mt-6 mb-6" style="font-weight: bold">ประวัติการส่งข้อความ</p>
            <v-data-table
              class="mt-6 mb-6"
              :items="SmsLog"
              :headers="SmsLogHeader"
              style="width: 100%"
            ></v-data-table>
          </template>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" @click="sendSmsCustomMessage(requestObj)" dark>ส่ง Sms</v-btn>
          <v-btn color="red" @click="dialogCustomSms = false" dark>ปิด</v-btn>
        </v-card-actions>
        <!--        <v-divider></v-divider>
                <p class="font-weight-bold pa-8">ประวัติการส่ง SMS</p>
                <v-data-table
                  :items=""
                ></v-data-table>-->
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogReason"
      persistent
      width="800"
    >
      <v-card>
        <v-card-title>
          <span class="font-weight-bold">ระบุเหตุผล{{(statusProc == '5' ? 'ไม่อนุมัติทำบัตร' : statusProc == '6' ? 'แก้ไขข้อมูลการทำบัตร' : '')}} : !</span>
        </v-card-title>
        <v-card-text>
          <v-radio-group v-model="rdoReasonApprove" @change="chooseReason">
            <v-radio class="font-weight-bold" label="หลักฐานภาพถ่ายที่แนบไม่ชัดเจน ไม่สามารถตรวจสอบได้ กรุณาลงทะเบียนใหม่อีกครั้ง" value="หลักฐานภาพถ่ายที่แนบไม่ชัดเจน ไม่สามารถตรวจสอบได้ กรุณาลงทะเบียนใหม่อีกครั้ง"></v-radio>
            <v-radio class="font-weight-bold" label="หลักฐานภาพถ่ายที่แนบไม่ตรงกับข้อมูลที่ท่านบันทึกลงทะเบียน กรุณาลงทะเบียนใหม่อีกครั้ง" value="หลักฐานภาพถ่ายที่แนบไม่ตรงกับข้อมูลที่ท่านบันทึกลงทะเบียน กรุณาลงทะเบียนใหม่อีกครั้ง"></v-radio>
            <v-radio class="font-weight-bold" label="ท่านมีหมายเลขบัตร รพ.ม.อ. อยู่แล้ว สามารถตรวจสอบ HN. ผ่าน Link https://medhr.medicine.psu.ac.th/HospitalCardRegister/checkhoscard" value="ท่านมีหมายเลขบัตร รพ.ม.อ. อยู่แล้ว สามารถตรวจสอบ HN. ผ่าน Link https://medhr.medicine.psu.ac.th/HospitalCardRegister/checkhoscard"></v-radio>
            <v-radio class="font-weight-bold" label="อื่นๆ ระบุ" value="อื่นๆ ระบุ"></v-radio>
          </v-radio-group>
          <v-textarea class="font-weight-bold" outlined v-model="reasonApprove" label="เหตุผล ห้ามว่าง!"
                        :error="reasonApprove == ''" :error-messages="reasonApprove == '' ? 'เหตุผล ห้ามว่าง!' : ''"
          ></v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green" @click="approveRequestFunc(false)" dark :disabled="disableBtn">บันทึกและแจ้งผล{{(statusProc == '5' ? 'ไม่อนุมัติ' : statusProc == '6' ? 'แก้ไขข้อมูล' : '')}}</v-btn>
          <v-btn color="red" @click="dialogReason = false" dark>ปิด</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogLoading"
      persistent
      width="300"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          กรุณารอสักครู่ ระบบกำลังทำรายการ....
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-main>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import Const from '~/Const/Const'
import Vue from 'vue'

export default {
  name: 'checkRequestData',
  data () {
    return {
      statusProc: false,
      disableBtn: false,
      sliderWidth: 100,
      deg: 0,
      smsPhone: '0',
      rdoReasonApprove: 'อื่นๆ ระบุ',
      reasonApprove: '',
      search: '',
      filterStatus: 'a',
      customMessage: '',
      dialogCustomSms: false,
      dialogApproveLog: false,
      dialogApprove: false,
      egovData_Personal: null,
      egovData_Father: null,
      egovData_Mother: null,
      egovData_Address: null,
      fileServerSrc: 'https://medhr.medicine.psu.ac.th/HospitalCardRegister/uploads',
      relevantItem: [],
      statusItem: [],
      religionItem: [],
      occupItem: [],
      contactPatient: false,
      emerPatient: false,
      evidencePatient: false,
      cardRequest: false,
      sumbitRequest: false,
      checkRequest: false,
      approveRequest: false,
      profilePatient: false,
      requestObj: null,
      dialogTimeLine: false,
      dialogLoading: false,
      dialogReason: false,
      dialogCheckRequest: false,
      logApproveHeader: [
        {
          text: 'สถานะ',
          value: 'detail'
        },
        {
          text: 'ผู้ทำรายการ',
          value: 'full_Name'
        }
      ],
      SmsLogHeader: [
        {
          text: 'เบอร์โทร',
          value: 'phone'
        },
        {
          text: 'ข้อความ',
          value: 'message'
        },
        {
          text: 'วันเวลาที่ส่ง',
          value: 'create_time'
        },
        {
          text: 'ผู้ส่ง',
          value: 'full_Name'
        },
      ],
      requestHeader: [
        {
          text: 'ชื่อ - สกุล',
          value: 'full_name'
        },
        {
          text: 'หมายเลขบัตรประชาชน',
          value: 'person_id'
        },
        {
          text: 'สถานะ',
          value: 'status_name'
        },
        {
          text: 'วันที่สร้างรายการ',
          value: 'create_time'
        },
        {
          text: 'ทำรายการ',
          value: 'action'
        },
      ],
      genderItem: [
        {
          name: 'ไม่ระบุ',
          value: '0'
        },
        {
          name: 'ชาย',
          value: '1'
        },
        {
          name: 'หญิง',
          value: '2'
        },
      ],
      prefixNameItem: [
        { name: 'นาย' },
        { name: 'นางสาว' },
        { name: 'นาง' },
        { name: 'ด.ช.' },
        { name: 'ด.ญ.' },
        { name: 'อื่นๆ' },
      ],
      phoneSmsSender: [
        {
          text: 'ทั้งหมด',
          value: '0'
        },
        {
          text: 'เบอร์หลัก',
          value: '1'
        },
        {
          text: 'เบอร์สำรอง',
          value: '2'
        },
      ],
      HopitalCardData: [],
      HopitalCardDataDump: []
    }
  },
  computed: {
    ...mapState({}),
    ...mapGetters({
      MeData: 'getMeData',
      provinces: 'getProvinces',
      amphur: 'getAmphur',
      tumbon: 'getTumbon',
      smsResult: 'getSmsResult',
      otpData: 'getOtpData',
      hnData: 'getHnData',
      relevant: 'getRelevantData',
      religion: 'getReligionData',
      occupation: 'getOccupationData',
      status: 'getStatusData',
      statusRequest: 'getRequesttStatusData',
      ip: 'getIpData',
      request: 'getRequestData',
      requestFile: 'getFileData',
      EgovData: 'getEgovData',
      logApprove: 'getLogApproveData',
      SmsLog: 'getSmsLog',
    })
  },
  methods: {
    ...mapActions({
      initPermiss2: 'initPermiss2',
      initProvincesData: 'initProvincesData',
      initTumbonData: 'initTumbonData',
      initAmphurData: 'initAmphurData',
      SendSms: 'SendSms',
      sendSmsMessage: 'sendSmsMessage',
      SaveSmsData: 'SaveSmsData',
      CheckSmsData: 'CheckSmsData',
      UpdateSmsData: 'UpdateSmsData',
      CheckOtpSmsData: 'CheckOtpSmsData',
      CheckHnData: 'CheckHnData',
      initRelevantData: 'initRelevantData',
      initReligionData: 'initReligionData',
      initOccupData: 'initOccupData',
      checkTokenCaptcha: 'checkTokenCaptcha',
      initStatusData: 'initStatusData',
      initStatusRequestData: 'initStatusRequestData',
      initRequestData: 'initRequestData',
      CheckRequestData: 'CheckRequestData',
      updateRequestData: 'updateRequestData',
      updateRequestStatus: 'updateRequestStatus',
      deleteRequest: 'deleteRequest',
      uploadFile: 'uploadFile',
      initEgovData: 'initEgovData',
      initLogApprove: 'initLogApprove',
      insertSmsMessageCustom: 'insertSmsMessageCustom',
      updateRequestFormGroverment: 'updateRequestFormGroverment',
      getSmsLogData: 'getSmsLogData',
    }),
    async init () {
      this.dialogLoading = true
      await this.initProvincesData()
      await this.initTumbonData()
      await this.initAmphurData()
      await this.initStatusRequestData()
      this.initRelevantData().then(res => {
        if (res) {
          this.relevantItem = this.relevant
        }
      })
      this.initReligionData().then(res => {
        if (res) {
          this.religionItem = this.religion
        }
      })
      this.initOccupData().then(res => {
        if (res) {
          this.occupItem = this.occupation
        }
      })
      this.initStatusData().then(res => {
        if (res) {
          this.statusItem = this.status
        }
      })
      await this.initRequestData({
        token: await this.$recaptcha.execute('login')
      }).then(res => {
        if (res) {
          this.HopitalCardData = this.request
          this.HopitalCardDataDump = []
          this.filterStatusFunc()
        }
        this.dialogLoading = false
      }).catch(res => {
        if (res) {
          this.dialogLoading = false
        }
      })
    },
    ShowData: function (dataUrl) {
      window.open(
        dataUrl,
        '_blank' // <- This is what makes it open in a new window.
      )
    },
    filterStatusFunc () {
      if (this.HopitalCardDataDump.length == 0) {
        this.HopitalCardDataDump = this.HopitalCardData
      }
      if (this.filterStatus == 'a') {
        this.HopitalCardData = this.HopitalCardDataDump
      } else {
        this.HopitalCardData = this.HopitalCardDataDump.filter(item => item.status_id == this.filterStatus)
      }
    },
    async showTimeline (item) {
      this.dialogLoading = true
      this.requestObj = null
      this.requestObj = item
      this.profilePatient = ((item.person_id != null && item.person_id != '') && (item.type != null && item.type != '') && (item.prefix != null && item.prefix != '')
      && (item.name != null && item.name != '') && (item.surname != null && item.surname != '') && (item.gender != null && item.gender != '')
      && (item.brithday != null && item.brithday != '') && (item.nationality != null && item.nationality != '') && (item.religion != null && item.religion != '')
      && (item.occupation != null && item.occupation != '') && (item.mname != null && item.mname != '') && (item.m_sname != null && item.m_sname != '')
      && ((item.status != null && item.status != '') ? (item.status == '2' ? ((item.sname != null && item.sname != '') && (item.s_sname != null && item.s_sname != '') ? true : false) : true) : true) ? true : false)
      this.contactPatient = ((item.h_number != null && item.h_number != '') && (item.changwat != null && item.changwat != '') && (item.amphur != null && item.amphur != '')
        && (item.tambon != null && item.tambon != '') && (item.zip_code != null && item.zip_code != '')) ? true : false
      this.emerPatient = ((item.phone != null && item.phone != '') && (item.rname != null && item.rname != '') && (item.r_sname != null && item.r_sname != '') && (item.rstatus != null && item.rstatus != '')
        && (item.rphone != null && item.rphone != '')) ? true : false
      this.evidencePatient = ((item.file_name != null && item.file_name != '') && (item.file_path != null && item.file_path != '')
        && (item.file_type != null && item.file_type != '')) ? true : false
      this.cardRequest = (item.status_id != null && item.status_id != '') ? parseInt(item.status_id) >= 1 ? true : false : false
      await this.initLogApprove({
        id: item.request_id,
        token: await this.$recaptcha.execute('login')
      }).then(res => {
        if (res) {
          /*if (this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '2').length > 0) {
            this.sumbitRequest = true
          } else {
            this.sumbitRequest = false
          }*/
          if (this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '3').length > 0) {
            this.checkRequest = true
          } else {
            this.checkRequest = false
          }
          if (this.logApprove.length > 0 && this.logApprove.filter(item => parseInt(item.status_id) > 3).length > 0) {
            this.approveRequest = true
          } else {
            this.approveRequest = false
          }
        } else {
          this.sumbitRequest = false
          this.checkRequest = false
          this.approveRequest = false
        }
        this.dialogLoading = false
        this.dialogTimeLine = true
      }).catch(res => {
        if (res) {
          this.$swal.fire({
            type: 'error',
            title: 'การทำรายการไม่ถูกต้อง โปรดตรวจสอบวิธีเรียกใช้งาน อีกครั้ง!'
          })
        }
      })
    },
    async getRequest (item) {
      this.dialogLoading = true
      this.updateRequestStatus({
        id: item.request_id,
        status_id: '2',
        perid: this.MeData[0].perid,
        token: await this.$recaptcha.execute('login')
      }).then(async resStatus => {
        if (resStatus) {
          this.initRequestData({
            token: await this.$recaptcha.execute('login')
          }).then(res => {
            if (res) {
              this.HopitalCardData = this.request
              this.HopitalCardDataDump = []
              this.filterStatusFunc()
              this.dialogLoading = false
              this.$swal.fire({
                type: 'success',
                title: 'รับคำร้องทำบัตร คุณ ' + item.full_name + '(' + item.person_id + ')'
              })
            }
            this.dialogLoading = false
          }).catch(res => {
            if (res) {
              this.dialogLoading = false
            }
          })
        } else {
          this.dialogLoading = false
        }
      }).catch(res => {
        if (res) {
          this.dialogLoading = false
        }
      })
    },
    async checkRequestFunc (item) {
      this.dialogLoading = true
      this.requestObj = null
      this.egovData_Personal = null
      this.egovData_Address = null
      this.requestObj = item
      this.sliderWidth = 100
      this.deg = 0
      if (item.status_id == '1') {
        this.updateRequestStatus({
          id: item.request_id,
          status_id: '3',
          perid: this.MeData[0].perid,
          token: await this.$recaptcha.execute('login')
        }).then(async res => {
          if (res) {
            this.initRequestData({
              token: await this.$recaptcha.execute('login')
            }).then(res => {
              if (res) {
                this.HopitalCardData = this.request
                this.HopitalCardDataDump = []
                this.filterStatusFunc()
              }
            })
          }
          this.dialogLoading = false
        })
      }
      await this.initEgovData({
        ServiceID: '001',
        CitizenID: item.person_id,
        token: await this.$recaptcha.execute('login')
      }).then(async res => {
        if (res) {
          this.egovData_Personal = this.EgovData.length > 0 ? this.EgovData[0].data.Code == null ? this.EgovData[0].data : null : null
          await this.initEgovData({
            ServiceID: '027',
            CitizenID: item.person_id,
            token: await this.$recaptcha.execute('login')
          }).then(res => {
            if (res) {
              this.egovData_Address = this.EgovData.length > 0 ? this.EgovData[0].data.Code == null ? this.EgovData[0].data : null : null
            }
          })
          if (this.egovData_Personal != null) {
            await this.initEgovData({
              ServiceID: '001',
              CitizenID: this.egovData_Personal.fatherPersonalID,
              token: await this.$recaptcha.execute('login')
            }).then(res => {
              if (res) {
                this.egovData_Father = this.EgovData.length > 0 ? this.EgovData[0].data.Code == null ? this.EgovData[0].data : null : null
              }
            })
            await this.initEgovData({
              ServiceID: '001',
              CitizenID: this.egovData_Personal.motherPersonalID,
              token: await this.$recaptcha.execute('login')
            }).then(res => {
              if (res) {
                this.egovData_Mother = this.EgovData.length > 0 ? this.EgovData[0].data.Code == null ? this.EgovData[0].data : null : null
              }
            })
          }
        } else {
          this.dialogLoading = false
        }
      })
      this.CheckHnData({
        person_id: this.requestObj.person_id,
        token: await this.$recaptcha.execute('login')
      })
      this.dialogLoading = false
      this.dialogCheckRequest = true
    },
    async approveRequestFunc (status) {
      this.dialogReason = false
      this.dialogLoading = true
      this.disableBtn = true
      if (status) {
        if (this.requestObj.status_id != '4') {
          this.token = await this.$recaptcha.execute('login')
          this.$axios.post(Const.medhrUrl + 'HospitalCardRegister/ServiceApi.php', {
            queryName: 'saveDataPatientNew',
            param: {
              g_pphone: this.requestObj.person_id,
              g_pinitial: this.requestObj.prefix,
              g_pname: this.requestObj.name,
              g_psur: this.requestObj.surname,
              g_sex: this.requestObj.gender,
              g_bdate: this.requestObj.brithday,
              g_race: this.requestObj.nationality,
              g_reli: '' + parseInt(this.requestObj.religion),
              g_occu1: this.requestObj.occupation,
              g_status: this.requestObj.status,
              g_fname: (this.requestObj.fname == null || this.requestObj.fname == '' ? '' : this.requestObj.fname + ' ') + (this.requestObj.f_sname == null || this.requestObj.f_sname == '' ? '' : this.requestObj.f_sname),
              g_mname: this.requestObj.mname + ' ' + this.requestObj.m_sname,
              g_cname: (this.requestObj.status == '2' ? this.requestObj.sname + ' ' + this.requestObj.s_sname : ''),
              g_paddress: this.requestObj.h_number + ((this.requestObj.h_village != '' && this.requestObj.h_village != null) ? ' หมู่ที่ ' + this.requestObj.h_village : '') + ((this.requestObj.h_alley != '' && this.requestObj.h_alley != null) ? ' ซอย ' + this.requestObj.h_alley : '') + ((this.requestObj.h_road != '' && this.requestObj.h_road != null) ? ' ถนน ' + this.requestObj.h_road : ''),
              // g_parea: 'จังหวัด ' + this.provinces.filter(item => item.CHW == this.requestObj.changwat)[0].PROVINCE + ' อำเภอ ' + this.amphur.filter(item => item.CPHUR == this.requestObj.amphur)[0].NPHUR + ' ตำบล ' + this.tumbon.filter(item => item.CBON == this.requestObj.tambon)[0].NBON,
              g_parea: this.tumbon.filter(item => item.CBON == this.requestObj.tambon)[0].CBON + '/' + this.amphur.filter(item => item.CPHUR == this.requestObj.amphur)[0].CPHUR + '/' + this.provinces.filter(item => item.CHW == this.requestObj.changwat)[0].CHW,
              g_raddress: this.requestObj.rh_number + ((this.requestObj.rh_village != '' && this.requestObj.rh_village != null) ? ' หมู่ที่ ' + this.requestObj.rh_village : '') + ((this.requestObj.rh_alley != '' && this.requestObj.rh_alley != null) ? ' ซอย ' + this.requestObj.rh_alley : '') + ((this.requestObj.rh_road != '' && this.requestObj.rh_road != null) ? ' ถนน ' + this.requestObj.rh_road : ''),
              g_rarea: this.tumbon.filter(item => item.CBON == this.requestObj.rtambon)[0].CBON + '/' + this.amphur.filter(item => item.CPHUR == this.requestObj.ramphur)[0].CPHUR + '/' + this.provinces.filter(item => item.CHW == this.requestObj.rchangwat)[0].CHW,
              g_zipcode: this.requestObj.zip_code,
              g_rphone: this.requestObj.phone + (this.requestObj.phone2 != '' && this.requestObj.phone2 != null ? ',' + this.requestObj.phone2 : '') + (this.requestObj.rphone != '' && this.requestObj.rphone != null ? (this.requestObj.rphone != this.requestObj.phone && this.requestObj.rphone != this.requestObj.phone2) ? ',' + this.requestObj.rphone : '' : ''),
              g_rphone2: this.requestObj.phone2,
              g_rname: this.requestObj.rname + ' ' + this.requestObj.r_sname,
              rphone_g: this.requestObj.rphone,
              g_rela: this.requestObj.rstatus,
              response: this.token
            }
          }).then(async (res) => {
            // this.dialogLoading = false
            if (res) {
              this.CheckHnData({
                person_id: this.requestObj.person_id,
                token: await this.$recaptcha.execute('login')
              }).then(async res => {
                if (res) {
                  // this.$swal.fire({
                  //   type: 'success',
                  //   title: 'คุณ ' + this.requestObj.name + ' ' + this.requestObj.surname + ' ได้ลงทะเบียนทำบัตรโรงพยาบาลสงขลานครินทร์ผู้ป่วยใหม่สำเร็จแล้ว หมายเลข HN: ของท่านคือ ' + this.hnData[0].HN + ' สามารถตรวจสอบผลการลงทะเบียนเพิ่มเติมได้ที่เมนู ตรวจสอบผลการลงทะเบียน'
                  // })
                  // this.$router.push('/')
                  this.token = await this.$recaptcha.execute('login')
                  this.updateRequestStatus({
                    id: this.requestObj.request_id,
                    status_id: '4',
                    perid: this.MeData[0].perid,
                    token: await this.$recaptcha.execute('login')
                  }).then(async res => {
                    if (res) {
                      this.initRequestData({
                        token: await this.$recaptcha.execute('login')
                      }).then(res => {
                        if (res) {
                          this.HopitalCardData = this.request
                          this.HopitalCardDataDump = []
                          this.filterStatusFunc()
                        }
                      })
                      await this.sendSmsMessage({
                        message: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) ของคุณ ' + this.requestObj.full_name + ' คือ :  ' + this.hnData[0].HN +
                          ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล',
                        phone_number: this.requestObj.phone,
                        token: await this.$recaptcha.execute('login')
                      })
                      this.$swal.fire({
                        type: 'success',
                        title: 'บันทึกผลการอนุมัติทำบัตรผู้ป่วย คุณ ' + this.requestObj.full_name + ' สำเร็จ!'
                      })
                      this.reasonApprove = ''
                      this.dialogLoading = false
                    }
                    this.dialogLoading = false
                  }).catch(resCatch => {
                    if (resCatch) {
                      this.dialogLoading = false
                      this.$swal.fire({
                        type: 'error',
                        title: 'พบข้อผิดพลาด ระบบอนุมัติการทำบัตร ผู้ป่วยสำเร็จแล้ว แต่ไม่สามารถทำอัพเดทสถานะคำร้องทำบัตรได้โปรดติดต่อ ฝ่ายเทคโนโลยีสารสนเทศ'
                      })
                    }
                  })
                  this.disableBtn = false
                  this.dialogApprove = false
                  this.dialogCheckRequest = false
                } else {
                  // this.dialogLoading = false
                  // this.$swal.fire({
                  //   type: 'success',
                  //   title: 'คุณ ' + this.requestObj.name + ' ' + this.requestObj.surname + ' ได้ลงทะเบียนทำบัตรโรงพยาบาลสงขลานครินทร์ผู้ป่วยใหม่สำเร็จแล้ว สามารถตรวจสอบผลการลงทะเบียนได้ที่เมนู ตรวจสอบผลการลงทะเบียน'
                  // })
                  // this.$router.push('/')
                  // this.$router.push('/')
                  this.token = await this.$recaptcha.execute('login')
                  this.updateRequestStatus({
                    id: this.requestObj.request_id,
                    status_id: '4',
                    perid: this.MeData[0].perid,
                    token: await this.$recaptcha.execute('login')
                  }).then(async res => {
                    if (res) {
                      this.initRequestData({
                        token: await this.$recaptcha.execute('login')
                      }).then(res => {
                        if (res) {
                          this.dialogLoading = false
                          this.HopitalCardData = this.request
                          this.HopitalCardDataDump = []
                          this.filterStatusFunc()
                        }
                      })
                      await this.sendSmsMessage({
                        message: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) คุณ ' + this.requestObj.full_name + ' คือ : ...... กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล',
                        phone_number: this.requestObj.phone,
                        token: await this.$recaptcha.execute('login')
                      })
                      this.$swal.fire({
                        type: 'success',
                        title: 'บันทึกผลการอนุมัติทำบัตรผู้ป่วย คุณ ' + this.requestObj.full_name + ' สำเร็จ!'
                      })
                      this.reasonApprove = ''
                    }
                    this.dialogLoading = false
                  }).catch(resCatch => {
                    if (resCatch) {
                      this.dialogLoading = false
                      this.$swal.fire({
                        type: 'error',
                        title: 'พบข้อผิดพลาด ระบบอนุมัติการทำบัตร ผู้ป่วยสำเร็จแล้ว แต่ไม่สามารถทำอัพเดทสถานะคำร้องทำบัตรได้โปรดติดต่อ ฝ่ายเทคโนโลยีสารสนเทศ'
                      })
                    }
                  })
                  this.disableBtn = false
                  this.dialogApprove = false
                  this.dialogCheckRequest = false
                }
              })
              // this.$router.push('/')
            } else {
              this.dialogLoading = false
              this.disableBtn = false
              this.$swal.fire({
                type: 'error',
                title: 'พบข้อผิดพลาด ไม่สามารถทำรายการได้ โปรดติดต่อฝ่ายเทคโนโลยีสารสนเทศ'
              })
            }
            // this.$swal.fire({
            //   type: 'success',
            //   title: 'คุณ ' + this.g_pname + ' ' + this.g_psur + ' ได้ลงทะเบียนทำบัตรโรงพยาบาลสงขลานครินทร์ผู้ป่วยใหม่สำเร็จแล้ว สามารถตรวจสอบผลการลงทะเบียนได้ที่เมนู ตรวจสอบผลการลงทะเบียน'
            // })
            // this.$router.push('/')
            // if (res.data) {
            //
            // }
          }).catch(res => {
            if (res) {
              this.disableBtn = false
              this.dialogLoading = false
              window.location.href = Const.medhrUrl + '/SingleSign/'
            }
          })
        } else {
          this.disableBtn = false
          this.dialogLoading = false
          this.$swal.fire({
            type: 'error',
            title: 'พบข้อผิดพลาด ไม่สามารถทำรายการได้ เนื่องจากคำขอทำบัตรผู้ป่วย คุณ ' + this.requestObj.full_name + ' อยู่ในสถานะที่ถูกอนุมัติอยู่แล้ว !'
          })
        }
      } else {
        if (this.statusProc == '5') {
          if (this.requestObj != '5') {
            if (this.reasonApprove != '') {
              this.token = await this.$recaptcha.execute('login')
              this.updateRequestStatus({
                id: this.requestObj.request_id,
                remark: this.reasonApprove,
                status_id: '5',
                perid: this.MeData[0].perid,
                token: await this.$recaptcha.execute('login')
              }).then(async res => {
                if (res) {
                  this.initRequestData({
                    token: await this.$recaptcha.execute('login')
                  }).then(res => {
                    if (res) {
                      this.dialogLoading = false
                      this.HopitalCardData = this.request
                      this.HopitalCardDataDump = []
                      this.filterStatusFunc()
                    }
                  })
                  await this.sendSmsMessage({
                    message: 'คำขอลงทะเบียนทำบัตร รพ. ม.อ. ไม่สำเร็จ เหตุผล: ' + this.reasonApprove,
                    phone_number: this.requestObj.phone,
                    token: await this.$recaptcha.execute('login')
                  })
                  this.$swal.fire({
                    type: 'success',
                    title: 'บันทึกผลการอนุมัติทำบัตรผู้ป่วย คุณ ' + this.requestObj.full_name + ' สำเร็จ!'
                  })
                  this.reasonApprove = ''
                }
                this.dialogLoading = false
              }).catch(resCatch => {
                if (resCatch) {
                  this.dialogLoading = false
                }
              })
              this.disableBtn = false
              this.dialogLoading = false
              this.dialogApprove = false
              this.dialogCheckRequest = false
            } else {
              this.$swal.fire({
                type: 'error',
                title: 'เหตุผล ห้ามว่าง!'
              })
              this.disableBtn = false
              this.dialogLoading = false
            }
          } else {
            this.reasonApprove = ''
            this.disableBtn = false
            this.dialogLoading = false
            this.$swal.fire({
              type: 'error',
              title: 'พบข้อผิดพลาด ไม่สามารถทำรายการได้ เนื่องจากคำขอทำบัตรผู้ป่วย คุณ ' + this.requestObj.full_name + ' อยู่ในสถานะที่ไม่ถูกอนุมัติอยู่แล้ว !'
            })
          }
        } else {
          if (this.reasonApprove != '') {
            this.token = await this.$recaptcha.execute('login')
            this.updateRequestStatus({
              id: this.requestObj.request_id,
              remark: this.reasonApprove,
              status_id: '6',
              perid: this.MeData[0].perid,
              token: await this.$recaptcha.execute('login')
            }).then(async res => {
              if (res) {
                this.initRequestData({
                  token: await this.$recaptcha.execute('login')
                }).then(res => {
                  if (res) {
                    this.dialogLoading = false
                    this.HopitalCardData = this.request
                    this.HopitalCardDataDump = []
                    this.filterStatusFunc()
                  }
                })
                await this.sendSmsMessage({
                  message: 'คำขอลงทะเบียนทำบัตร รพ. ม.อ. ของท่าน ถูกให้แก้ไขข้อมูล เหตุผล: ' + this.reasonApprove,
                  phone_number: this.requestObj.phone,
                  token: await this.$recaptcha.execute('login')
                })
                this.$swal.fire({
                  type: 'success',
                  title: 'บันทึกผลการอนุมัติทำบัตรผู้ป่วย คุณ ' + this.requestObj.full_name + ' สำเร็จ!'
                })
                this.reasonApprove = ''
              }
              this.dialogLoading = false
            }).catch(resCatch => {
              if (resCatch) {
                this.dialogLoading = false
              }
            })
            this.disableBtn = false
            this.dialogLoading = false
            this.dialogApprove = false
            this.dialogCheckRequest = false
          } else {
            this.$swal.fire({
              type: 'error',
              title: 'เหตุผล ห้ามว่าง!'
            })
            this.disableBtn = false
            this.dialogLoading = false
          }
        }
      }
    },
    delRequest (item) {
      this.$swal.fire({
        title: 'ยืนยันการทำรายการ',
        text: 'คุณต้องการยกเลิกการลงทะเบียนทำบัตรผู้ป่วยใหม่ หมายเลขบัตร ' + item.person_id + ' ใช่หรือไม่ ?',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ตกลง',
        cancelButtonText: 'ยกเลิก'
      }).then(async (result) => {
        if (result.value) {
          this.dialogLoading = true
          this.deleteRequest({
            id: item.request_id,
            token: await this.$recaptcha.execute('login')
          }).then(res => {
            if (res) {
              this.$swal.fire({
                type: 'success',
                title: 'ยกเลิกการลงทะเบียนทำบัตรผู้ป่วยออนไลน์ หมายเลขบัตร ' + item.person_id + ' สำเร็จ!'
              })
              this.init()
            } else {
              this.$swal.fire({
                type: 'error',
                title: 'ไม่สามารถทำรายการได้โปรดลองอีกครั้ง'
              })
            }
            this.dialogLoading = false
          })
        }
      })
    },
    async sendSmsApprove (request) {
      this.dialogLoading = true
      if (request.status_id == '4') {
        this.CheckHnData({
          person_id: request.person_id,
          token: await this.$recaptcha.execute('login')
        }).then(async res => {
          if (res) {
            if (this.hnData.length > 0) {
              await this.sendSmsMessage({
                message: 'ขอแจ้งเลขบัตรโรงพยาบาล ม.อ. (Hospital Number: HN) ของคุณ ' + request.full_name + ' คือ :  ' + this.hnData[0].HN +
                  ' กรุณานำบัตรประชาชนติดต่อห้องบัตรเพื่อปรับปรุงข้อมูล เมื่อท่านมาติดต่อโรงพยาบาล',
                phone_number: request.phone,
                token: await this.$recaptcha.execute('login')
              }).then(res => {
                if (res) {
                  this.dialogLoading = false
                  this.$swal.fire({
                    type: 'success',
                    title: 'ส่งข้อความ sms สำเร็จ'
                  })
                } else {
                  this.dialogLoading = false
                  this.$swal.fire({
                    type: 'error',
                    title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
                  })
                }
              })
            } else {
              this.dialogLoading = false
              this.$swal.fire({
                type: 'error',
                title: 'พบข้อผิดพลาด ไม่พบหมายเลข H.N. รพ. ของผู้ป่วย'
              })
            }
          } else {
            this.dialogLoading = false
            this.$swal.fire({
              type: 'error',
              title: 'พบข้อผิดพลาด ไม่พบหมายเลข H.N. รพ. ของผู้ป่วย'
            })
          }
        })
      } else if (request.status_id == '5') {
        await this.initLogApprove({
          id: request.request_id,
          token: await this.$recaptcha.execute('login')
        }).then(async res => {
          if (res) {
            await this.sendSmsMessage({
              message: 'คำขอลงทะเบียนทำบัตร รพ. ม.อ. ไม่สำเร็จ เหตุผล : ' + ((this.logApprove.length > 0 && this.logApprove.filter(item => item.status_id == '5').length > 0 ? this.logApprove[this.logApprove.length - 1].remark : '')),
              phone_number: request.phone,
              token: await this.$recaptcha.execute('login')
            }).then(res => {
              if (res) {
                this.dialogLoading = false
                this.$swal.fire({
                  type: 'success',
                  title: 'ส่งข้อความ sms สำเร็จ'
                })
              } else {
                this.dialogLoading = false
                this.$swal.fire({
                  type: 'error',
                  title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
                })
              }
            })
          }
        })
      } else {
        this.dialogLoading = false
        this.$swal.fire({
          type: 'error',
          title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความได้เนื่องจาก คำขอที่เลือกยังไม่ได้รับการพิจารณาคำขอทำบัตร'
        })
      }
    },
    async sendSmsCustomMessage (request) {
      if (this.smsPhone == '0') {
        if (this.customMessage != '') {
          this.dialogLoading = true
          await this.insertSmsMessageCustom({
            request_id: request.request_id,
            phone: request.phone,
            message: this.customMessage,
            perid: this.MeData[0].perid,
            token: await this.$recaptcha.execute('login')
          }).then(async res => {
            if (res) {
              await this.sendSmsMessage({
                message: this.customMessage,
                phone_number: request.phone,
                token: await this.$recaptcha.execute('login')
              }).then(async res => {
                if (res) {
                  await this.insertSmsMessageCustom({
                    request_id: request.request_id,
                    phone: request.phone2,
                    message: this.customMessage,
                    perid: this.MeData[0].perid,
                    token: await this.$recaptcha.execute('login')
                  }).then(async res => {
                    if (res) {
                      await this.sendSmsMessage({
                        message: this.customMessage,
                        phone_number: request.phone2,
                        token: await this.$recaptcha.execute('login')
                      }).then(async res => {
                        if (res) {
                          this.customMessage = ''
                          this.dialogCustomSms = false
                          this.dialogLoading = false
                          this.getSmsLogData({
                            id: request.request_id,
                            token: await this.$recaptcha.execute('login')
                          })
                          this.$swal.fire({
                            type: 'success',
                            title: 'ส่งข้อความ sms สำเร็จ'
                          })
                        } else {
                          this.dialogLoading = false
                          this.$swal.fire({
                            type: 'error',
                            title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
                          })
                        }
                      })
                    } else {
                      this.dialogLoading = false
                      this.$swal.fire({
                        type: 'error',
                        title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
                      })
                    }
                  })
                } else {
                  this.dialogLoading = false
                  this.$swal.fire({
                    type: 'error',
                    title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
                  })
                }
              })
            } else {
              this.dialogLoading = false
              this.$swal.fire({
                type: 'error',
                title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
              })
            }
          })
        } else {
          this.$swal.fire({
            type: 'error',
            title: 'ข้อความ sms ที่ต้องการส่ง ห้ามว่าง!!'
          })
        }
      } else {
        if (this.customMessage != '') {
          this.dialogLoading = true
          await this.insertSmsMessageCustom({
            request_id: request.request_id,
            phone: this.smsPhone == '1' ? request.phone : request.phone2,
            message: this.customMessage,
            perid: this.MeData[0].perid,
            token: await this.$recaptcha.execute('login')
          }).then(async res => {
            if (res) {
              await this.sendSmsMessage({
                message: this.customMessage,
                phone_number: this.smsPhone == '1' ? request.phone : request.phone2,
                token: await this.$recaptcha.execute('login')
              }).then(async res => {
                if (res) {
                  this.customMessage = ''
                  this.dialogCustomSms = false
                  this.dialogLoading = false
                  this.getSmsLogData({
                    id: request.request_id,
                    token: await this.$recaptcha.execute('login')
                  })
                  this.$swal.fire({
                    type: 'success',
                    title: 'ส่งข้อความ sms สำเร็จ'
                  })
                } else {
                  this.dialogLoading = false
                  this.$swal.fire({
                    type: 'error',
                    title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
                  })
                }
              })
            } else {
              this.dialogLoading = false
              this.$swal.fire({
                type: 'error',
                title: 'พบข้อผิดพลาด ไม่สามารถส่งข้อความ sms ได้!!'
              })
            }
          })
        } else {
          this.$swal.fire({
            type: 'error',
            title: 'ข้อความ sms ที่ต้องการส่ง ห้ามว่าง!!'
          })
        }
      }
    },
    async updateDataFormGoverment () {
      // test data from goverment
      /*this.egovData_Personal = {
        "titleCode": 3,
        "titleDesc": "นาย",
        "titleName": "นาย",
        "titleSex": 1,
        "firstName": "ธวัชชัย",
        "middleName": "",
        "lastName": "จันทรทิพย์",
        "genderCode": 1,
        "genderDesc": "ชาย",
        "dateOfBirth": 25310919,
        "nationalityCode": 99,
        "nationalityDesc": "ไทย",
        "ownerStatusDesc": "เจ้าบ้าน",
        "statusOfPersonCode": 0,
        "statusOfPersonDesc": "บุคคลนี้มีภูมิลำเนาอยู่ในบ้านนี้",
        "dateOfMoveIn": 25630924,
        "age": 33,
        "fatherPersonalID": 3909800843023,
        "fatherName": "น้อย",
        "fatherNationalityCode": 99,
        "fatherNationalityDesc": "ไทย",
        "motherPersonalID": 3920100551153,
        "motherName": "ฟองฟ้า",
        "motherNationalityCode": 99,
        "motherNationalityDesc": "ไทย",
        "fullnameAndRank": "นายธวัชชัย จันทรทิพย์",
        "englishTitleDesc": "MR.",
        "englishFirstName": "THAWATCHAI",
        "englishMiddleName": "",
        "englishLastName": "JUNTHIP"
      }*/
      /////////////////////////////////////

      if (this.requestObj != null && this.egovData_Personal != null) {
        this.updateRequestFormGroverment({
          id: this.requestObj != null ? this.requestObj.request_id : null,
          name: this.egovData_Personal != null ? this.egovData_Personal.firstName : null,
          surname: this.egovData_Personal != null ? this.egovData_Personal.lastName : null,
          gender: this.egovData_Personal != null ? this.egovData_Personal.genderDesc == 'ชาย' ? '1' : this.egovData_Personal.genderDesc == 'หญิง' ? '2' : '0' : null,
          brithday: this.egovData_Personal != null ? Vue.filter('dateEgovToDB')(this.egovData_Personal.dateOfBirth) : null,
          nationality: this.egovData_Personal != null ? this.egovData_Personal.nationalityDesc : null,
          token: await this.$recaptcha.execute('login')
        }).then(async res => {
          if (res) {
            this.$swal.fire({
              type: 'success',
              title: 'อัพเดทข้อมูลสำเร็จ !!'
            })
            await this.init()
            this.requestObj = this.HopitalCardData.filter(hosCard => hosCard.id == this.requestObj.id)[0]
            this.checkRequestFunc(this.requestObj)
          } else {
            this.$swal.fire({
              type: 'error',
              title: 'พบข้อผิดพลาด ไม่สามารถทำรายการได้ขณะนี้ โปรดติดต่อฝ่ายเทคโนโลยีสารสนเทศ'
            })
          }
        }).catch(res => {
          if (res) {
            this.$swal.fire({
              type: 'error',
              title: 'พบข้อผิดพลาด ไม่สามารถทำรายการได้ ขณะนี้โปรดติดต่อฝ่ายเทคโนโลยีสารสนเทศ'
            })
          }
        })
      } else {
        this.$swal.fire({
          type: 'error',
          title: 'พบข้อผิดพลาดไม่สามารถทำรายการได้ขณะนี้ เนื่องจากไม่พบข้อมูลทะเบียนราษฎร์'
        })
      }
    },
    async openDialogCustomSMS (item) {
      this.smsPhone = '0'
      this.requestObj = null
      this.requestObj = item
      this.dialogCustomSms = true
      this.getSmsLogData({
        request_id: item.request_id,
        token: await this.$recaptcha.execute('login')
      })
    },
    imgSwitch(rotate) {
      if (rotate == 'left') {
        this.deg -= 90
      } else {
        this.deg += 90
      }
    },
    chooseReason() {
      this.reasonApprove = this.rdoReasonApprove
    },
    async OpenHisApprove (request) {
      this.dialogLoading = true
      this.initLogApprove({
        id: request.request_id,
        token: await this.$recaptcha.execute('login')
      }).then(res => {
        if (res) {
          this.dialogApproveLog = true
        }
        this.dialogLoading = false
      }).catch(resCatch => {
        if (resCatch) {
          this.dialogLoading = false
        }
      })
    },
    checkStatusCordi(status) {
      if (status.active == '1') {
        return true
      } else {
        return false
      }
      // if (this.MeData.length > 0 && this.MeData[0].perid == '46792') {
      //     return true
      // } else {
      //   if (status.id == '0') {
      //     return false
      //   } else {
      //     if (status.active == '1') {
      //       return true
      //     } else {
      //       return false
      //     }
      //   }
      // }
    },
    openDialogReason(status){
      this.statusProc = status
      this.dialogReason = true
      this.rdoReasonApprove = 'อื่นๆ ระบุ'
    }
  },
  async mounted () {
    await this.initPermiss2({
      token: await this.$recaptcha.execute('login')
    }).then(res => {
      if (res) {
        this.init()
      } else {
        this.$router.push('/')
        this.$swal.fire({
          type: 'error',
          title: 'ไม่สามารถทำรายการเข้าสู่ระบบได้สำเร็จ เนื่องจากไม่ได้รับสิทธิ์ในการจัดการข้อมูลการทำบัตร!!'
        })
      }
    }).catch(res => {
      if (res) {
        document.cookie = 'vurl=' + Const.hospitalUrl
        window.location.href = Const.medhrUrl + '/SingleSign/'
      }
    })
  }
}
</script>

<style scoped>
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.transition {
  transition: transform 0.5s ease-in-out;
}
</style>
