<template>
  <v-row justify="center" align="center" class="mt-16">
    <v-col cols="12" sm="10" md="10">
      <v-card>
        <v-card-text>
          <v-list>
            <v-list-item>
              <v-row>
<!--                <v-col
                  cols="12"
                  md="6"
                >
                  <v-hover v-slot="{ hover }">
&lt;!&ndash;                    <v-card class="pb-7 ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2" to="/checkhoscard">&ndash;&gt;
                    <v-card class="pb-7 ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2">
                      <v-card-title>
                        <span class="font-weight-bold" style="color: #00BFA5">ตรวจสอบประวัติบัตร รพ.</span>
                      </v-card-title>
                      <v-card-subtitle>
                        <span class="font-weight-bold">ตรวจสอบก่อนลงทะเบียนทำบัตรใหม่</span>
                      </v-card-subtitle>
                    </v-card>
                  </v-hover>
                </v-col>-->
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-hover v-slot="{ hover }">
                    <v-card class="ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2" to="/register">
                      <v-card-title>
                        <span class="font-weight-bold" style="color: #00BFA5">ลงทะเบียนบัตรใหม่</span>
                      </v-card-title>
                      <v-card-subtitle style="padding-bottom: 10px">
                        <p class="font-weight-bold">สำหรับผู้ป่วยใหม่ ยังไม่มีบัตร</p>
                        <p class="font-weight-bold" style="margin-top: -20px">(hospital number) HN</p>
                      </v-card-subtitle>
                    </v-card>
                  </v-hover>
                </v-col>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-hover v-slot="{ hover }">
                    <v-card class="ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2" to="/checkhoscard">
                      <v-card-title>
                        <span class="font-weight-bold" style="color: #00BFA5">ตรวจสอบผลลงทะเบียน</span>
                      </v-card-title>
                      <v-card-subtitle style="padding-bottom: 10px">
                        <p class="font-weight-bold">แสดงผลการลงทะเบียน</p>
                        <p class="font-weight-bold" style="margin-top: -20px">-</p>
                      </v-card-subtitle>
                    </v-card>
                  </v-hover>
                </v-col>
              </v-row>
            </v-list-item>
            <v-list-item>
              <v-row>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-hover v-slot="{ hover }">
                    <v-card class="ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2" to="/checkhoscard">
                      <v-card-title>
                        <span class="font-weight-bold" style="color: #00BFA5">ค้นหาหมายเลข Hospital Number (HN)</span>
                      </v-card-title>
                      <v-card-subtitle style="padding-bottom: 10px">
                        <p class="font-weight-bold">สำหรับค้นหาหมายเลข Hospital Number (HN)</p>
                        <p class="font-weight-bold" style="margin-top: -20px">-</p>
                      </v-card-subtitle>
                    </v-card>
                  </v-hover>
<!--                  <v-hover v-slot="{ hover }">
                    <v-card class="pb-7 ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2">
                      <v-card-title>
                        <span class="font-weight-bold" style="color: #00BFA5">ปรับปรุงข้อมูลบัตร</span>
                      </v-card-title>
                      <v-card-subtitle>
                        <span class="font-weight-bold">แก้ไข/เพิ่มเติม ข้อมูลพื้นฐาน</span>
                      </v-card-subtitle>
                    </v-card>
                  </v-hover>-->
                </v-col>
                <v-col
                  cols="12"
                  md="6"
                >
                  <v-hover v-slot="{ hover }">
                    <v-card class="pb-7 ma-5" style="cursor:pointer;" :elevation="hover ? 12 : 2" to="/checkRequestData">
                      <v-card-title>
                        <span class="font-weight-bold" style="color: #00BFA5">ตรวจสอบคำขอ</span>
                      </v-card-title>
                      <v-card-subtitle>
                        <span class="font-weight-bold">เมนูสำหรับเจ้าหน้าที่งานเวชระเบียน</span>
                      </v-card-subtitle>
                    </v-card>
                  </v-hover>
                </v-col>
              </v-row>
            </v-list-item>
          </v-list>
        </v-card-text>
      </v-card>
      <!--      <v-card>
              <v-card-actions>
                <v-spacer />
                <v-btn
                  color="primary"
                  nuxt
                  to="/inspire"
                >
                  Continue
                </v-btn>
              </v-card-actions>
            </v-card>-->
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>

<style>
.Card1 {
  background-color: red;
}

#Card1 {
  background-color: red;
}
</style>
