<template>
  <v-content>
    <v-row class="d-flex justify-center">
      <v-col
        cols="12"
        md="6"
      >
        <v-card>
          <v-card-title class="font-weight-bold">
            <span style="color: black">เข้าสู่ระบบ</span>
          </v-card-title>
          <v-card-text>
            <v-text-field label=""></v-text-field>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-content>
</template>

<script>
export default {
  name: 'login'
}
</script>

<style scoped>

</style>
