<template>
  <v-container>
    {{HopitalCardData}}
  </v-container>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'printForm',
  data() {
    return {
      HopitalCardData: [],
      relevantItem: [],
      statusItem: [],
      religionItem: [],
      occupItem: [],
    }
  },
  computed: {
    ...mapState({}),
    ...mapGetters({
      provinces: 'getProvinces',
      amphur: 'getAmphur',
      tumbon: 'getTumbon',
      smsResult: 'getSmsResult',
      otpData: 'getOtpData',
      hnData: 'getHnData',
      relevant: 'getRelevantData',
      religion: 'getReligionData',
      occupation: 'getOccupationData',
      status: 'getStatusData',
      ip: 'getIpData',
      request: 'getRequestData',
      requestFile: 'getFileData',
      EgovData: 'getEgovData',
      logApprove: 'getLogApproveData',
    })
  },
  methods: {
    ...mapActions({
      initProvincesData: 'initProvincesData',
      initTumbonData: 'initTumbonData',
      initAmphurData: 'initAmphurData',
      SendSms: 'SendSms',
      sendSmsMessage: 'sendSmsMessage',
      SaveSmsData: 'SaveSmsData',
      CheckSmsData: 'CheckSmsData',
      UpdateSmsData: 'UpdateSmsData',
      CheckOtpSmsData: 'CheckOtpSmsData',
      initRelevantData: 'initRelevantData',
      initReligionData: 'initReligionData',
      initOccupData: 'initOccupData',
      checkTokenCaptcha: 'checkTokenCaptcha',
      initStatusData: 'initStatusData',
      initRequestData: 'initRequestData',
      CheckRequestData: 'CheckRequestData',
      updateRequestData: 'updateRequestData',
      updateRequestStatus: 'updateRequestStatus',
      uploadFile: 'uploadFile',
      initEgovData: 'initEgovData',
      initLogApprove: 'initLogApprove',
      insertSmsMessageCustom: 'insertSmsMessageCustom',
    }),
    async init () {
      await this.initProvincesData()
      await this.initTumbonData()
      await this.initAmphurData()
      await this.initRelevantData().then(res => {
        if (res) {
          this.relevantItem = this.relevant
        }
      })
      await this.initReligionData().then(res => {
        if (res) {
          this.religionItem = this.religion
        }
      })
      await this.initOccupData().then(res => {
        if (res) {
          this.occupItem = this.occupation
        }
      })
      await this.initStatusData().then(res => {
        if (res) {
          this.statusItem = this.status
        }
      })
      /*await this.CheckRequestData({
        person_id: '1909800307176'
      }).then(res => {
        if (res) {
          console.log(this.request)
          this.HopitalCardData = this.request
          // window.print();
          // setTimeout(window.close, 3000);
        } else {
          setTimeout(window.close, 0);
        }
      }).catch(res => {
        if (res) {
          setTimeout(window.close, 0);
        }
      })*/
    },
  },
  mounted () {
    this.init()
    // console.log($route.params)
  }
}
</script>

<style scoped>

</style>
